//- creatingzrifs.pug
.toggle
	.toggle-title
		h3
			i.fas.fa-plus
			span.title-name Creating zRIFs (Vita)
	.toggle-inner
		h5 Creating NoNpDRM licenses for PSV Games and DLCs:

		p.mb-0 #[b Easy/regular method:]
		ol.text-break-word.list-group-flush
			li Download and install the #[a(href="https://github.com/TheOfficialFloW/NoNpDrm/releases/latest") NoNpDRM] plugin by Fl0w (remember to reboot console after adding it to your config.txt file).
			li Run game to make NoNpDRM licenses for it and all installed DLCs.
			li NoNpDRM licenses will be located in #[code ux0:/nonpdrm]

		p.mb-0.
			#[b FAST method:]
			#[br]
			#[b This method doesn't require you to download the whole game or to even have the base game installed (for DLCs), shortening the whole process from a few hours to just a few minutes.]
		ol.text-break-word.list-group-flush
			li Download and install the #[a(href="https://sites.google.com/site/theleecherman/home/NoNpDrm.v1.3.Unofficial-LMAN.rar") modded NoNpDRM] by leecherman (remember to reboot console after adding it to your config.txt file).
			li Start downloading the game or DLC then pause it.
			li Run VitaShell and go to the #[code ux0:/bgdl/t/00000X/] directory and copy #[b temp.dat] file to/as #[code ux0:/license/theme/&lt;GAMEID&gt;/temp.rif]
			li Quit VitaShell and reopen it.
			li Your NoNpDRM license is now created and ready at #[code ux0:/nonpdrm/theme/&lt;GAMEID&gt;/6488b73b912a753a492e2714e9b38bc7.rif]

		h5 Creating NoNpDRM licenses for PSV Themes:
		ol.text-break-word.list-group-flush
			li Download and install the #[a(href="https://sites.google.com/site/theleecherman/home/NoNpDrm.v1.3.Unofficial-LMAN.rar") modded NoNpDRM] by leecherman (remember to reboot console after adding it to your config.txt file).
			li Run any App (game or homebrew).
			li NoNpDRM licenses will be located in #[code ux0:/nonpdrm/theme].

		h5 Creating NoPsmDRM licenses for PSM Games:
		ol.text-break-word.list-group-flush
			li Download and install the #[a(href="https://github.com/frangarcj/NoPsmDrm/releases/latest") NoPsmDRM] plugin by frangarcj (remember to reboot console after adding it to your config.txt file).
			li Run game to make NoPsmDRM license for that title.
			li NoPsmDRM licenses will be located in #[code ux0:/data] as CONTENT_ID.rif files. For example: #[code ux0:data/EM0041-NPOA00013_00-0000000000000000.rif].

		h5 Creating zRIFs
		b IMPORTANT NOTE: In order to generate a proper zRIF you need to use NoNpDRM generated licenses located in the #[code ux0:/nonpdrm/] directory (or #[code ux0:/data/<contentid>.rif] for NoPsmDRM)!
		br
		b zRIFs created from original work.bin or ux0:/license/ files WILL BE REJECTED AS INVALID!!
		p.mb-0 #[b Easy method / For single files:]
			ol.text-break-word.list-group-flush
				li #[a(href="https://rawgit.com/mmozeiko/pkg2zip/online/zrif.html") Go to this website].
				li Simply upload work.bin or 6488b73b912a753a492e2714e9b38bc7.rif and press convert.

		p.mb-0 #[b Harder method / For batch zRIF making:]
			ol.text-break-word.list-group-flush
				li Download make_key.exe #[a(href="https://github.com/weaknespase/PkgDecrypt") from here].
				li Go to the directory where your nonpdrm licenses (or nonpdrm games with work.bin files) are located.
				li Transfer make_key.exe there. Now hold shift and press right mouse button while being inside the directory, select "Open command prompt here"
				li
					ol(type='a')
						li For .rif licenses paste this into cmd and press enter: #[code for /f "tokens=*" %B in ('dir /S /B *.rif') do make_key "%B" >> keys.txt]
						li For work.bin licenses paste this into cmd and press enter: #[code for /f "tokens=*" %B in ('dir /S /B work.bin') do make_key "%B" >> keys.txt]
				li Open the keys.txt file. It'll contain the zRIF keys, their contentID and file location.
				