//- creatingraps.pug
.toggle
	.toggle-title
		h3
			i.fas.fa-plus
			span.title-name Creating RAPs (PS3)
	.toggle-inner
		b IMPORTANT NOTE: in order to generate proper RAP you need a purchased game(from PS Store) and CFW installed on your PS3 Console.

		ol.text-break-word.list-group-flush
			li Download rif2rap #[a(href="https://nopaystation.com/ps3/rifconv.zip") from here] and place it anywhere on your PC.
			li From your PS3 grab these files and place them somewhere on your PC
				ol(type='a')
					li #[b act.dat] - #[code /dev_hdd0/home/00000000X/exdata/]
					li #[b idps] - You can use any method of obtaining IDPS, but using #[a(href="http://store.brewology.com/ahomebrew.php?brewid=194") IDPS Viewer Homebrew] seems to be easiest. Alternatively, #[a(href="https://nopaystation.com/ps3xploit/idps_dump/") IDPS Dumper Web Exploit (v2.0)] can be used.
					li #[b .rif files (licenses)] - #[code /dev_hdd0/home/00000000X/*.rif]
			li Run RifConv.exe and in "Rif2Rap" tab select IDPS and act.dat files you previously downloaded from your PS3. Also select the directory where RIF files are located. Press create button to create RAPs.
			li Now you should have the .rap files generated. To contribute them to NoPayStation you can zip the folder and follow the instructions for batch contributing.
