//- fileusage.pug
.toggle
	.toggle-title
		h3
			i.fas.fa-plus
			span.title-name What do I do with the files?
	.toggle-inner
		p.
			#[b Vita Games:]
			#[br]
			Just copy the /app/ directory NPS Browser created to the root of your Vita and refresh LiveArea through VitaShell. It's the same process as you do with NoNpDRM rips.
		p.
			#[b Vita DLCs:]
			#[br]
			Just copy the /addcont/ directory NPS Browser created to the root of your Vita and refresh LiveArea through VitaShell.  Note: You need the latest version of VitaShell (1.76 or newer) to use this feature!
		p.
			#[b Vita Updates:]
			#[br]
			Just copy /patch/ directory NPS Browser created to the root of your Vita and refresh LiveArea through VitaShell.  Note: You need the latest version of VitaShell (1.98 or newer) to use this feature!
		p.
			#[b Vita Themes:]
			#[br]
			Just copy /bgdl/ directory NPS Browser created to the root of your Vita. Themes will auto-install on next reboot.
			#[br]
			#[b Note 1: You need to be on 3.60/3.65 ENSO in order to install themes.]
			#[br]
			#[b Note 2: If there is no act.dat, such as when it is not activated, you need to set theme each time after rebooting. It can be avoided by making an empty act.dat like this: `tm0:/npdrm/act.dat`]
		p.
			#[b PSM Games:]
			#[br]
			Just copy the /psm/ directory NPS Browser created to the root of your Vita's memory card and rebuild or update your Vita's database. They can also be refreshed with VitaShell if you use #[a(href="https://github.com/RealYoti/VitaShell/releases") Yoti's fork] (2.03 or newer). Its same process as you do with NoPsmDRM rips.
		p.
			#[b PSX & PSP Games:]
			#[br]
			Just copy the /pspemu/ directory NPS Browser created to the root of your Vita(ux0/ur0/uma0/imc0 - depending which one are you using!) and run your preferred eCFW like Adrenaline or ARK-4. You'll see the new game(s).
			Note: In order to see PSX games & EBOOT.PBP format PSP games on the LiveArea, you either need NoPspEmuDrm or Adrenaline Bubble Maker. If you have NoPspEmuDRM, you can either refresh the database, or use #[a(href="https://github.com/RealYoti/VitaShell/releases") Yoti's VitaShell fork] (2.05 or newer) to refresh the LiveArea in order to see the games. 
			#[br]
			On a real PSP, the game folders inside /pspemu/ go in the root your Memory Stick. You will need to have the npdrm_free plugin enabled in order to play PSP games in EBOOT.PBP format or PSX games. 
		p.
			#[b PSP DLCs:]
			#[br]
			Just copy the /pspemu/ directory NPS Browser created to the root of your Vita(ux0/ur0/uma0/imc0 - depending which one are you using!) and run your preferred eCFW like Adrenaline or ARK-4. If you have NoPspEmuDrm, just launch a LiveArea bubble for any PSP game or eCFW (Adrenaline/ARK). You'll see the new DLC(s) when you launch the game.
			#[br]
			On a real PSP, the folders inside /pspemu/ go in the root your Memory Stick. You will need to have the npdrm_free plugin enabled in order to use the DLC. 
		p.
			#[b PSP Themes:]
			Just copy the /pspemu/ directory NPS Browser created to the root of your Vita(ux0/ur0/uma0/imc0 - depending which one are you using!) and run Adrenaline. You'll see the new theme(s).
			#[br]
			On a real PSP, the contents inside /pspemu/ go in the root your Memory Stick. 
		p.mb-0 #[b PS3 Games & DLCs:]
		ol
			li Copy the downloaded PKG file to your PS3's dev_hdd0/packages folder or the root of a USB drive and copy "exdata" directory to the root of a USB drive. Make sure the exdata directory contains .rap file(s)! Now, plug the USB to your console and install PKG(s).
			li With the USB drive still plugged in, restart the console in order to allow itself to sign the RAP licenses to your profile as RIFs. 
				ol(type='a')
					li Please note that this feature requires 4.85 or newer CFW/HEN. If you have older CFW, you will need to use ReActPSN or PSNpatch.
			li
				p.
					Now log into your main profile and play the game/DLCs.
					#[br]
					#[b Note 1: You only need to do it once per PKG+rap combo(game/DLC). For every new PKG/license you need to repeat the second and third steps in the chronological order.]
					#[br]
					#[b Note 2: For multipart games (Yakuza 5 for example) you need to merge them all into single PKG first: copy /B "first part.pkg" + "2nd part.pkg" + ... + "6th part.pkg" "output.pkg"]
					#[br]
					#[b Note 3: for NOT REQUIRED games/DLCs, you can ignore installing the RAP file since they don't have one.]
