//- howtocontribute.pug
.toggle
	.toggle-title
		h3
			i.fas.fa-plus
			span.title-name How can I contribute?
	.toggle-inner
		p.
			Contributing to NPS couldn't be any easier:
			#[br]
			Go to the #[a(href="/contribute") contribution page] and select your contribution method.

		p.
			#[b What you will need:]
			#[br]
			For single contributions you will need the PKG URL and license file.
			#[br]
			For batch contributions you will need the .JSON exported from PSDLE, as well as a zipped folder containing the licenses.

		p.
			#[b Note: You do NOT need to have both files to contribute to NPS. Having just the license(s) or just the URL(s) is completely fine.]

