//- npsconfig.pug
.toggle
	.toggle-title
		h3
			i.fas.fa-plus
			span.title-name Configuration and Usage
	.toggle-inner
		p #[b This tutorial is for the Windows version of NPS Browser. If you are a macOS user, use #[a(href="https://github.com/JK3Y/NPS-Browser-macOS") this app] instead.]

		ol.text-break-word.list-group-flush
			li Download #[a(href="https://github.com/lusid1/pkg2zip") pkg2zip(fork by lusid1) from here], place anywhere on your PC.
			li Download #[a(href="https://nopaystation.com/vita/npsReleases/NPS_Browser_0.94.exe") NPS Browser], place anywhere on your PC.
			li
				| Run NPS Browser and configure it like so: #[br]
				| #[b IMPORTANT: REMEMBER TO PASTE THE LINKS INTO THE APP. IF YOU DO THAT YOUR NPS BROWSER WILL ALWAYS USE LATEST DATABASE!]
				ul
					li Games
						ul
							li PSV tsv #[a(href="http://nopaystation.com/tsv/PSV_GAMES.tsv") http://nopaystation.com/tsv/PSV_GAMES.tsv]
							li PSM tsv #[a(href="http://nopaystation.com/tsv/PSM_GAMES.tsv") http://nopaystation.com/tsv/PSM_GAMES.tsv]
							li PSX tsv #[a(href="http://nopaystation.com/tsv/PSX_GAMES.tsv") http://nopaystation.com/tsv/PSX_GAMES.tsv]
							li PS3 tsv #[a(href="http://nopaystation.com/tsv/PS3_GAMES.tsv") http://nopaystation.com/tsv/PS3_GAMES.tsv]
							li PSP tsv #[a(href="http://nopaystation.com/tsv/PSP_GAMES.tsv") http://nopaystation.com/tsv/PSP_GAMES.tsv]
					li Demos
						ul
							li PSV tsv #[a(href="http://nopaystation.com/tsv/PSV_DEMOS.tsv") http://nopaystation.com/tsv/PSV_DEMOS.tsv]
							li PS3 tsv #[a(href="http://nopaystation.com/tsv/PS3_DEMOS.tsv") http://nopaystation.com/tsv/PS3_DEMOS.tsv]
					li DLCs
						ul
							li PSV tsv #[a(href="http://nopaystation.com/tsv/PSV_DLCS.tsv") http://nopaystation.com/tsv/PSV_DLCS.tsv]
							li PS3 tsv #[a(href="http://nopaystation.com/tsv/PS3_DLCS.tsv") http://nopaystation.com/tsv/PS3_DLCS.tsv]
							li PSP tsv #[a(href="http://nopaystation.com/tsv/PSP_DLCS.tsv") http://nopaystation.com/tsv/PSP_DLCS.tsv]
					li Updates
						ul
							li PSV tsv #[a(href="http://nopaystation.com/tsv/PSV_UPDATES.tsv") http://nopaystation.com/tsv/PSV_UPDATES.tsv]
							li PSP tsv #[a(href="http://nopaystation.com/tsv/PSP_UPDATES.tsv") http://nopaystation.com/tsv/PSP_UPDATES.tsv]
					li Themes
						ul
							li PSV tsv #[a(href="http://nopaystation.com/tsv/PSV_THEMES.tsv") http://nopaystation.com/tsv/PSV_THEMES.tsv]
							li PS3 tsv #[a(href="http://nopaystation.com/tsv/PS3_THEMES.tsv") http://nopaystation.com/tsv/PS3_THEMES.tsv]
							li PS3AV tsv #[a(href="http://nopaystation.com/tsv/PS3_AVATARS.tsv") http://nopaystation.com/tsv/PS3_AVATARS.tsv]
							li PSP tsv #[a(href="http://nopaystation.com/tsv/PSP_THEMES.tsv") http://nopaystation.com/tsv/PSP_THEMES.tsv]
					li Download and unpack dir: Select where app should download AND/OR extract selected games/DLC.
					li Any pkg_dec tool: Browse and select pkg2zip.exe you downloaded earlier.
					li Your pkg dec params: #[code -x {pkgFile} "{zRifKey}"] (note: add -c9 after -x for .CSO compressed files OR add -p after -x for PSP Games in EBOOT.PBP format).
					li HMAC key for updates: #[code E5E278AA1EE34082A088279C83F9BBC806821C52F2AB5D2B4ABD995450355114]
					li CompPack URL: #[a(href="https://gitlab.com/nopaystation_repos/nps_compati_packs/raw/master/entries.txt") https://gitlab.com/nopaystation_repos/nps_compati_packs/raw/master/entries.txt]
					li CompPack Patch URL: #[a(href="https://gitlab.com/nopaystation_repos/nps_compati_packs/raw/master/entries_patch.txt") https://gitlab.com/nopaystation_repos/nps_compati_packs/raw/master/entries_patch.txt]
			li Close this window, close the NPS browser and run it again. You should now see the list of all NoPayStation titles.

