//- obtainingpkglinks.pug
.toggle
	.toggle-title
		h3
			i.fas.fa-plus
			span.title-name Obtaining PKG links
	.toggle-inner
		p.
			For this step you don't even need a 3.60 vita or CFW PS3, all steps are done on PC. All you need to have is purchased/added to account content.

		p.mb-0 #[b Games / DLCs / Themes:]
			ol.text-break-word.list-group-flush
				li Download and install the #[a(href="https://repod.github.io/psdle/") PSDLE] browser extension.
				li Go to the #[a(href="https://store.playstation.com") Playstation Store] and log in.
				li Run the browser extension. You'll get #[a(href="https://i.imgur.com/V8Musa0.png") this icon] at the bottom-left corner. Click it.
				li After you click it #[a(href="https://i.imgur.com/RmZ29ah.png") you'll see this]. Click "Start"
				li It'll list all of your digital games/DLCs/themes. Everything you own on your Playstation Account. When it's done it'll look something #[a(href="https://i.imgur.com/E5NtDGG.png") like this].
				li Now click on any platforms that you dont want to be included in the exported file. For only Vita titles it should look #[a(href="https://i.imgur.com/ga9b9nx.png") like this].
				li Click on EXPORT VIEW on the top. #[a(href="https://i.imgur.com/XMearlZ.png") This will pop up].
				li
					| Press IMPORT on the bottom of the window that just popped up and paste this:
					|
					code [{"property":"platform","title":"Platform"},{"property":"name","title":"Name"},{"property":"pkg","title":"PKG direct link"},{"property":"id","title":"Content ID"},{"property":"size","title":"File Size"},{"property":"baseGame","title":"Alternate Name"},{"property":"productID","title":"Product ID"},{"property":"url","title":"Store URL"}]
				li Press OK and then the JSON button to export the file to your PC.
				li The saved file can now be opened with a text editor. Just search for the Title ID of the title you want to share. Make sure it's a proper link by looking at the Content ID.

		p.mb-0 #[b Vita Game Updates:]
		ol.text-break-word.list-group-flush
			li Download #[a(href="https://sites.google.com/site/theleecherman/vitagameupdatechecker") Vita Game Update Checker] and extract it somewhere on your PC.
			li Run the application you just extracted and paste the TITLE ID of a game. Now press Check button on the bottom right corner.
			li Right-click the desired update -> copy all -> by default columns.
			li Now you copied: Game Title, Title ID, Update Version, Required FW, FileSize(in MB), SHA1, ContentID, PKG link, Update Type, XML link. [All in that order]
			li
				p.
					Open a text editor and paste in the copied data. Grab the URL for the update and contribute it using the steps outlined above under "How can I contribute?".
					#[br]
					#[b NOTE 1: Please contribute Updates with cumulative update type. These end with -PE in pkg link. Cumulative updates can be installed on ANY lower game version and they do not miss files from previous updates.]
					#[br]
					#[b NOTE2: If a newer update is released, the XML will be updated with the new version. If that happens, links to previous updates CANNOT BE OBTAINED so grab your update links AS SOON AS POSSIBLE to get updates that still run on 3.60/3.65.]
					#[br]
					#[b NOTE 3: If NOTE 2 scenario happens, the previously obtained PKG links to previous updates are still working and valid. Content is never removed from the servers.]

