//- whatis.pug
.toggle
	.toggle-title
		h3
			i.fas.fa-plus
			span.title-name What is NoPayStation?
	.toggle-inner
		p.
			It's a superior way of acquiring VITA, PSM, PSP, PSX, PS3 Games, DLCs, Themes and Updates without the need to rely on user uploads, as you download the titles straight from PlayStation servers. It's just like downloading from the PSS!
			#[br]
			Say goodbye to MEGA transfer limits. Also, thanks to that, you can be sure all the files are unchanged and do not contain any harmful code.
		div
			p.
				#[b IMPORTANT NOTES REGARDING VITA CONSOLES:]
				#[br]
				Games, DLCs, Themes, and Updates need the #[a(href="https://github.com/TheOfficialFloW/NoNpDrm") NoNpDRM] plugin installed on your Vita to work. This will already be installed if you did a Quick 3.65 Installation from VitaDeploy when following #[a(href="https://vita.hacks.guide") vita.hacks.guide].
				#[br]
				For Vita 3.61+ Games to be playable on ALL FIRMWARES you need the #[a(href="https://github.com/SKGleba/0syscall6") 0syscall6] plugin installed. This will already be installed if you did a Quick 3.65 Installation from VitaDeploy when following #[a(href="https://vita.hacks.guide") vita.hacks.guide].
				#[br]
				Vita Themes(only via PC download) require #[a(href="https://github.com/TheOfficialFloW/enso") ENSO] to be installed on your console. This will already be installed if you did a Quick 3.65 Installation from VitaDeploy when following #[a(href="https://vita.hacks.guide") vita.hacks.guide].
				#[br]
				PSM titles need the #[a(href="https://github.com/frangarcj/NoPsmDrm") NoPsmDRM] plugin installed to work.
				#[br]
				PSP Games, Updates, DLCs, and PSX Games require the #[a(href="https://github.com/LiEnby/NoPspEmuDrm") NoPspEmuDrm] plugin installed in order to be detected as native LiveArea applications. They can also be used from eCFW such as #[a(href="https://github.com/TheOfficialFloW/Adrenaline") Adrenaline] or #[a(href="https://github.com/PSP-Archive/ARK-4") ARK-4] without installing LiveArea bubbles.
				#[br]
				PSP Themes need #[a(href="https://github.com/TheOfficialFloW/Adrenaline") Adrenaline] installed to work.
		div
			p.
				#[b IMPORTANT NOTE REGARDING PS3 CONSOLES:]
				#[br]
				To use NoPayStation Games/DLCs, you need console with CFW/HEN installed on it, preferably with 4.85 or newer firmware. If you're using CFW, the latest builds from Evilnat are advised.
		div
			p.
				#[b IMPORTANT NOTE REGARDING PSX GAMES & PSP GAMES IN EBOOT.PBP FORMAT (VITA AND PSP):]
				#[br]
				To use NoPayStation PSX Games & PSP Games in EBOOT.PBP format on the XMB, you need to install #[a(href="https://github.com/qwikrazor87/npdrm_free") this PSP plugin]. This will also be required with Adrenaline on a Vita.
