.downloads.jumbotron
	h4.text-center NPS Clients
	.platforms
		.pc
			a(href='http://nopaystation.com/vita/npsReleases/NPS_Browser_0.94.exe')
				img(src='/images/winlogo.png')
				br
				| PC
		.mac
			a(href='https://github.com/JK3Y/NPS-Browser-macOS')
				img(src='/images/applelogo.png')
				br
				| macOS
		.vita
			a(href='https://github.com/blastrock/pkgj/releases')
				img(src='/images/psvita-icon.png')
				br
				| PS Vita
		.psp
			a(href='https://github.com/bucanero/pkgi-psp/releases')
				img(src='/images/psp-icon.png' style='width: 128px')
				br
				| PSP
		.linux
			a(href='https://github.com/sigmaboy/nopaystation_scripts')
				img(src='/images/linux-icon.png')
				br
				| Linux
		.ps3
			a(href='https://github.com/bucanero/pkgi-ps3/releases')
				img(src='/images/ps3-icon.png')
				br
				| PS3
