mixin regionDDL(region, contentId)
	if contentId
		select.form-control#region(name=`${contentId}[region]`)
			option(value="US")&attributes({ 'selected': region === "US" }) US
			option(value="EU")&attributes({ 'selected': region === "EU" }) EU
			option(value="JP")&attributes({ 'selected': region === "JP" }) JP
			option(value="ASIA")&attributes({ 'selected': region === "ASIA" }) ASIA
			option(value="INT")&attributes({ 'selected': region === "INT" }) INT
			option(value="UNKNOWN")&attributes({ 'selected': region === "UNKNOWN" }) UNKNOWN
	else
		select.form-control#region(name='region')
			option(value="US")&attributes({ 'selected': region === "US" }) US
			option(value="EU")&attributes({ 'selected': region === "EU" }) EU
			option(value="JP")&attributes({ 'selected': region === "JP" }) JP
			option(value="ASIA")&attributes({ 'selected': region === "ASIA" }) ASIA
			option(value="INT")&attributes({ 'selected': region === "INT" }) INT
			option(value="UNKNOWN")&attributes({ 'selected': region === "UNKNOWN" }) UNKNOWN

mixin platformDDL(platform, contentId)
	if contentId
		select.form-control#platform(name=`${contentId}[platform]`)
			option(value="PSX")&attributes({ 'selected': platform === "PSX" }) PSX
			option(value="PSP")&attributes({ 'selected': platform === "PSP" }) PSP
			option(value="PS3")&attributes({ 'selected': platform === "PS3" }) PS3
			// option(value="PS4")&attributes({ 'selected': platform === "PS4" }) PS4
			option(value="PSM")&attributes({ 'selected': platform === "PSM" }) PSM
			option(value="PSV")&attributes({ 'selected': platform === "PSV" }) PSV
			option(value="UNKNOWN")&attributes({ 'selected': platform === "UNKNOWN" }) UNKNOWN
	else
		select.form-control#platform(name='platform')
			option(value="PSX")&attributes({ 'selected': platform === "PSX" }) PSX
			option(value="PSP")&attributes({ 'selected': platform === "PSP" }) PSP
			option(value="PS3")&attributes({ 'selected': platform === "PS3" }) PS3
			// option(value="PS4")&attributes({ 'selected': platform === "PS4" }) PS4
			option(value="PSM")&attributes({ 'selected': platform === "PSM" }) PSM
			option(value="PSV")&attributes({ 'selected': platform === "PSV" }) PSV
			option(value="UNKNOWN")&attributes({ 'selected': platform === "UNKNOWN" }) UNKNOWN

mixin categoryDDL(category, contentId)
	if contentId
		select.form-control#category(name=`${contentId}[category]`)
			option(value="Game")&attributes({ 'selected': category === "Game" }) Game
			option(value="Theme")&attributes({ 'selected': category === "Theme" }) Theme
			option(value="DLC")&attributes({ 'selected': category === "DLC" }) DLC
			option(value="Avatar")&attributes({ 'selected': category === "Avatar" }) Avatar
			option(value="Update")&attributes({ 'selected': category === "Update" }) Update
			option(value="Demo")&attributes({ 'selected': category === "Demo" }) Demo
			option(value="Unknown")&attributes({ 'selected': (category === "Unknown" || category === 'UNKNOWN') }) UNKNOWN
	else
		select.form-control#category(name='category')
			option(value="Game")&attributes({ 'selected': category === "Game" }) Game
			option(value="Theme")&attributes({ 'selected': category === "Theme" }) Theme
			option(value="DLC")&attributes({ 'selected': category === "DLC" }) DLC
			option(value="Avatar")&attributes({ 'selected': category === "Avatar" }) Avatar
			option(value="Update")&attributes({ 'selected': category === "Update" }) Update
			option(value="Demo")&attributes({ 'selected': category === "Demo" }) Demo
			option(value="Unknown")&attributes({ 'selected': (category === "Unknown" || category === 'UNKNOWN') }) UNKNOWN

mixin subTypeDDL(subType, contentId)
	if contentId
		select.form-control#subType(name=`${contentId}[subType]`)
			option(value="PSP")&attributes({ 'selected': subType === 'PSP' }) PSP
			option(value="PC Engine")&attributes({ 'selected': subType === "PC Engine" }) PC Engine
			option(value="Go")&attributes({ 'selected': subType === "Go" }) Go
			option(value="PSP NeoGeo")&attributes({ 'selected': subType === "PSP NeoGeo"}) PSP NeoGeo
			option(value="PSP Mini")&attributes({ 'selected': subType === "PSP Mini"}) PSP Mini
			option(value="PSP Remaster")&attributes({ 'selected': subType === 'PSP Remaster' }) PSP Remaster
			option(value="PS2 Classic")&attributes({ 'selected': subType === 'PS2 Classic' }) PS2 Classic
			option(value="Beta")&attributes({ 'selected': subType === 'Beta' }) Beta
			option(value="Unknown")&attributes({ 'selected': subType === 'Unknown' }) Unknown
			option(value="Normal")&attributes({ 'selected': subType === 'Normal' || typeof subType === 'undefined' }) Normal
	else
		select.form-control#subType(name='subType')
			option(value="PSP")&attributes({ 'selected': subType === 'PSP' }) PSP
			option(value="PC Engine")&attributes({ 'selected': subType === "PC Engine" }) PC Engine
			option(value="Go")&attributes({ 'selected': subType === "Go" }) Go
			option(value="PSP NeoGeo")&attributes({ 'selected': subType === "PSP NeoGeo" }) PSP NeoGeo
			option(value="PSP Mini")&attributes({ 'selected': subType === "PSP Mini" }) PSP Mini
			option(value="PSP Remaster")&attributes({ 'selected': subType === 'PSP Remaster' }) PSP Remaster
			option(value="PS2 Classic")&attributes({ 'selected': subType === 'PS2 Classic' }) PS2 Classic
			option(value="Beta")&attributes({ 'selected': subType === 'Beta' }) Beta
			option(value="Unknown")&attributes({ 'selected': subType === 'Unknown' }) Unknown
			option(value="Normal")&attributes({ 'selected': subType === 'Normal' || typeof subType === 'undefined' }) Normal
