nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
  a.navbar-brand(href='/') NoPayStation

  button.navbar-toggler(type='button' data-toggle='collapse',
  data-target='#navbarSupportedContent',
  aria-controls='navbarSupportedContent',
  aria-expanded='false' aria-label='Toggle Navigation')
    span.navbar-toggler-icon

  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        if (isVita)
          a.nav-link(href='/search?query=&limit=10&orderBy=completionDate&sort=DESC&missing=Show') Browse
        else
          a.nav-link(href='/browse') Browse
      li.nav-item
        a.nav-link(href='/browse/pending') Pending
      li.nav-item
        a.nav-link(href='/contribute') Contribute
      li.nav-item
        a.nav-link(href='/faq') FAQ
      li.nav-item
        a.nav-link(href='/support') Support Us!

      if user
        li.nav-item
          a.nav-link(href='/manage') Manage
    ul.navbar-nav.mr-sm-2
      if !user
        li.nav-item
          a.nav-link(href='/login') Login
      else
        li.nav-item
          a.nav-link#navLogout(href='/logout') Logout
