- let count = pagination.itemCount
- let recordsPerPage = pagination.limit
- let pages = pagination.pages
- let currentPage = pagination.currentPage
- let pageButtonCount = pages.length
- let lower_limit = (parseInt((currentPage - 1)/pageButtonCount) * pageButtonCount) + 1
- let upper_limit = lower_limit * pageButtonCount
// - let paginationNo = lower_limit - 1


ul.pagination
	if currentPage > 1
		li.page-item
			a.page-link(href=prevUrl tabindex="-1") <
	else
		li.page-item.disabled
			a.page-link(href="#" tabindex="-1") <

	each page in pages
		if currentPage === page.number
			li.page-item.active
				a.page-link(href=page.url) #{page.number}
		else
			li.page-item
				a.page-link(href=page.url) #{page.number}

	if count > (recordsPerPage * upper_limit)
		li.page-item
			a.page-link(href=nextUrl tabindex="-1") >
	else
		li.page-item.disabled
			a.page-link(href="#" tabindex="-1") >