each item in items
	tr
		td
			- var url = typeof item.version !== 'undefined' ? `/view/${item.platform}/${item.titleId}/${item.licenseId}/${item.appVer}?version=${item.version}` : `/view/${item.platform}/${item.titleId}/${item.licenseId}/${item.appVer}`
			- var dlUrl = typeof item.version !== 'undefined' ? `/view/${item.platform}/${item.titleId}/${item.licenseId}/${item.appVer}/pkg?version=${item.version}` : `/view/${item.platform}/${item.titleId}/${item.licenseId}/${item.appVer}/pkg`

			a(href=`${url}` data-toggle="modal" data-target=`#modal-${item._id}`) #{item.title}
			br
			span.badge.badge-secondary.listbadge #{item.platform}
			| &nbsp;
			span.badge.badge-primary.listbadge #{item.category}
			| &nbsp;
			span.badge.badge-info.listbadge #{item.region}
			| &nbsp;


			if item.platform === 'PSV' && item.minFw > 3.60
				span.badge.badge-danger.listbadge.mr-1 #{item.minFw}



			if (item.license === 'MISSING' && (item.platform !== 'PSP' && item.platform !== 'PSX'))
				span.fa-stack.fa-1x(title="Missing license")
					i.fas.fa-key.fa-stack-1x
					i.fas.fa-ban.fa-stack-2x
				| &nbsp;


			if (item.pkg === 'MISSING' || item.pkg === '' || item.pkg === null)
				span.fa-stack.fa-1x(title="Missing URL")
					i.fas.fa-link.fa-stack-1x
					i.fas.fa-ban.fa-stack-2x


			if item.completionDate
				span.badge.badge-light.float-right.listbadge #{item.completionDate ? new Date(item.completionDate).toDateString().split(' ').splice(1).join(' ') : ""}


			if item.platform == "PSV" || item.platform == "PSX" || item.platform == "PSP"
				br
				a.btn.btn-info.btn-sm.float-left.mx-1(href=`psns:browse?product=${item.contentId}`)
					i.fas.fa-check
					| &nbsp;Open In Vita

			if (item.platform == "PS3")
				br
				a.btn.btn-info.btn-sm.float-left.mx-1(href=`psns:browse?product=${item.contentId}`)
					i.fas.fa-check
					| &nbsp;Open In PS3

			if user
				if user.role && user.role !== "editor"
					br
					button.btn.btn-danger.btn-sm.float-right.mx-1(data-toggle='modal' data-target=`#modalDelete-${item._id}`)
						i.fas.fa-trash
						| &nbsp;Delete

					.modal.fade(id=`modalDelete-${item._id}` tabindex='-1' role='dialog' aria-labelledby='confirmModalLabel' aria-hidden='true')
						.modal-dialog(role='document')
							.modal-content
								.modal-header
									h5.modal-title#confirmModalLabel Confirm Deletion
									button.close(type='button' data-dismiss='modal' aria-label='Close')
										span(aria-hidden='true') &times;
								.modal-body
									p Delete #{item.title}?
									| (DB ID#: #{item._id})
								.modal-footer
									a.btn.btn-danger(href=`/manage/items/${item._id}/delete`) Delete


			.modal.fade(id=`modal-${item._id}` tabindex="-1" role="dialog" aria-labelledby=`modalLabel-${item._id}` aria-hidden="true")
				.modal-dialog(role="document")
					.modal-content
						.modal-header(id=`mh-${item._id}`)
							h5.modal-title
								span(id=`modalLabel-${item._id}`) #{item.title}
								br
								span.badge.badge-secondary.listbadge #{item.platform}
								| &nbsp;
								span.badge.badge-primary.listbadge #{item.category}
								| &nbsp;
								span.badge.badge-info.listbadge #{item.region}
								| &nbsp;

								if item.platform === 'PSV' && item.minFw > 3.60
									span.badge.badge-danger.listbadge.align-middle #{item.minFw}
									| &nbsp;

								if (item.license === 'MISSING' && (item.platform !== 'PSP' && item.platform !== 'PSX'))
									span.fa-stack.fa-1x.align-middle(title="Missing license")
										i.fas.fa-key.fa-stack-1x
										i.fas.fa-ban.fa-stack-2x
								//if (item.rap === 'MISSING' || item.rap === 'NOT REQUIRED' || item.rap === 'UNLOCK/LICENSE BY DLC')
								//	//span.badge.badge-warning.listbadge.svg-nokey
								//	span.fa-stack.fa-1x.align-middle(title="Missing license")
								//		i.fas.fa-key.fa-stack-1x
								//		i.fas.fa-ban.fa-stack-2x
								//	| &nbsp;
								//else if (item.zrif === 'MISSING' || item.zrif === 'NOT REQUIRED' || item.zrif === 'UNLOCK/LICENSE BY DLC')
								//	span.fa-stack.fa-1x.align-middle(title="Missing license")
								//		i.fas.fa-key.fa-stack-1x
								//		i.fas.fa-ban.fa-stack-2x
								//	| &nbsp;

								//if (item.pkgUrl === 'MISSING' || item.pkgUrl === '' || item.pkgUrl === null)
								//	span.fa-stack.fa-1x.align-middle(title="Missing URL")
								//		i.fas.fa-link.fa-stack-1x
								//		i.fas.fa-ban.fa-stack-2x
								if (item.pkg === 'MISSING' || item.pkg === '' || item.pkg === null)
									span.fa-stack.fa-1x.align-middle(title="Missing URL")
										i.fas.fa-link.fa-stack-1x
										i.fas.fa-ban.fa-stack-2x


							button.close.ml-0(type="button" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true") &times;
						.modal-body(id=`mb-${item._id}`)
							form
								.form-row
									.form-group.col
										label.col-form-label(for="title") Title
										input.form-control#title(type="text" name="title" value=item.title readonly)

									if item.regionalTitle && item.regionalTitle !== item.title
										.form-group.col
											label.col-form-label(for="regional-title") Regional Title
											input.form-control#regional-title(type="text" name="regionalTitle" value=(typeof item.regionalTitle === 'undefined' || item.regionalTitle === "") ? item.title : item.regionalTitle readonly)

								.form-row
									if item.license && (item.platform !== 'PSP' && item.platform !== 'PSX')
										.form-group.col
											label.col-form-label(for="license-text") #{item.licenseType}
											input.form-control#license-text(type="text" name="license" value=item.license readonly)


									.form-group.col
										label.col-form-label(for="content-id") Content ID
										input.form-control#content-id(type="text" name="contentId" value=item.contentId readonly)


								.form-row
									.form-group.col
										label.col-form-label(for="fileSize") Size
										input.form-control#fileSize(type="text" name="fileSize" value=item.fileSize || 'MISSING' readonly)

									.form-group.col
										label.col-form-label(for="prettySize") Pretty Size
										input.form-control#prettySize(type="text" name="prettySize" value=item.prettySize readonly)

									.form-group.col
										label.col-form-label(for="region") Region
										input.form-control#region(type="text" name="region" value=item.region readonly)

									if item.subType
										.form-group.col
											label.col-form-label(for="subType") Sub Type
											input.form-control#subType(type="text" name="subType" value=item.subType readonly)

								.form-row
									if item.minFw !== null
										.form-group.col
											label.col-form-label(for="min-fw") Min FW
											input.form-control#min-fw(type="text" name="minFw" value=item.minFw readonly)

									if item.appVer !== null
										.form-group.col
											label.col-form-label(for="appVer") App Version
											input.form-control#appVer(type="text" name='appVer' value=item.appVer readonly)

									if item.version !== undefined
										.form-group.col
											label.col-form-label(for="version") Version
											input.form-control#version(type="text" name='version' value=item.version readonly)




									//if item.zrif
									//	.form-group.col
									//		label.col-form-label(for="zrif-text") zRIF:
									//		input.form-control#zrif-text(type="text" name="zrif" value=item.zrif readonly)
									//
									//else if item.rap
									//	.form-group.col
									//		label.col-form-label(for="rap-text") RAP:
									//		input.form-control#rap-text(type="text" name="rap" value=item.rap readonly)

								if item.notes
									.form-row
										.form-group.col
											label.col-form-label(for="item-notes") Notes:
											input.form-control#item-notes(type="text" name="notes" value=item.notes readonly)

							//a.float-right(href=`/browse/${item._id}`) More Details
							//a.float-right(href=`/view/${item.platform}/${item.titleId}/${item.licenseId}/${item.appVer}`) More Details
							a.float-right(href=`${url}`) More Details

						.modal-footer(id=`mf-${item._id}`)
							if item.pkg
								if item.pkg !== 'MISSING' && item.pkg !== 'CART ONLY'
									//a.btn.btn-block.btn-primary(href=`/view/${item.platform}/${item.titleId}/${item.licenseId}/${item.appVer}/pkg`) Download PKG
									a.btn.btn-block.btn-primary(href=`${dlUrl}`) Download PKG
								else
									a.btn.btn-block.btn-primary.disabled(href="#") PKG Unavailable
							br


							if item.licenseType === 'zRIF'
								if item.license !== 'MISSING' && item.license !== 'NOT REQUIRED' && item.license !== 'UNLOCK/LICENSE BY DLC'
									if item.platform === 'PSV'
										a.btn.btn-block.btn-primary(download='work.bin' href=`/tools/zrif2bin/${encodeURIComponent(item.license)}`) Download work.bin
									else if item.platform === 'PSM'
										a.btn.btn-block.btn-primary(download='FAKE.rif' href=`/tools/zrif2bin/${encodeURIComponent(item.license)}`) Download FAKE.rif
								else
									if item.platform === 'PSV'
										a.btn.btn-block.btn-primary.disabled(href="#") work.bin Unavailable
									else if item.platform === 'PSM'
										a.btn.btn-block.btn-primary.disabled(href="#") FAKE.rif Unavailable
							else if item.licenseType === 'RAP'
								if item.license !== 'MISSING' && item.license !== 'NOT REQUIRED' && item.license !== 'UNLOCK/LICENSE BY DLC'
									a.btn.btn-block.btn-primary(download=item.contentId + '.rap' href=`/tools/rap2file/${item.contentId}/${item.license}`) Download RAP
								else
									a.btn.btn-block.btn-primary.disabled(href="#") RAP Unavailable
