.col-3.col-sm-2.col-md-2
  .sidebar-right
    - if (filterParams)
      - var platform  = filterParams.platform ? filterParams.platform.toLowerCase()   : ''
      - var category  = filterParams.category ? filterParams.category.toLowerCase()   : ''
      - var query   = filterParams.query ? filterParams.query     : ''
      - var region  = filterParams.region ? filterParams.region.toLowerCase()     : ''
      - var limit   = filterParams.limit
      - var completeness   = filterParams.completeness ? filterParams.completeness.toLowerCase()   : ''

    form(id='dbFilterForm' method="GET")
      .input-group
          if query
            input.form-control#txtSearch(type='text' placeholder='Search' name='query' aria-label='Search query' aria-describedby="btnFilter" value=query)
          else
            input.form-control#txtSearch(type='text' placeholder='Search' name='query' aria-label='Search query' aria-describedby="btnFilter")
          .input-group-append
            button.btn.btn-outline-secondary(type="submit" id="btnFilter")
              span.fas.fa-search.fa-xs

      hr

      h6.small Platform
      .btn-group-toggle(data-toggle='buttons')
        if platform === 'psv'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='psv' name='platform' checked)
            .
              PSV
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='psv' name='platform')
            .
              PSV

        if platform === 'psp'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='psp' name='platform' checked)
            .
              PSP
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='psp' name='platform')
            .
              PSP

        if platform === 'ps3'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='ps3' name='platform' checked)
            .
              PS3
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='ps3' name='platform')
            .
              PS3

        if platform === 'psx'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='psx' name='platform' checked)
            .
              PSX
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='psx' name='platform')
            .
              PSX

        if platform === 'psm'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='psm' name='platform' checked)
            .
              PSM
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='psm' name='platform')
            .
              PSM

      hr

      h6.small Category
      .btn-group-toggle(data-toggle='buttons')
        if category === 'game'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='game' name='category' checked)
            .
              Games
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='game' name='category')
            .
              Games
        if category === 'theme'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='theme' name='category' checked)
            .
              Themes
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='theme' name='category')
            .
              Themes
        if category === 'dlc'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='DLC' name='category' checked)
            .
              DLCs
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='DLC' name='category')
            .
              DLCs
        if category === 'avatar'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='avatar' name='category' checked)
            .
              Avatars
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='avatar' name='category')
            .
              Avatars
        if category === 'demo'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='demo' name='category' checked)
            .
              Demos
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='demo' name='category')
            .
              Demos

        if category === 'unknown'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='unknown' name='category' checked)
            .
              Unknowns
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='unknown' name='category')
            .
              Unknowns

      hr

      h6.small Region
      .btn-group-toggle(data-toggle='buttons')
        if region === 'us'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='us' name='region' checked)
            .
              US
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='us' name='region')
            .
              US

        if region === 'eu'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='eu' name='region' checked)
            .
              EU
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='eu' name='region')
            .
              EU

        if region === 'jp'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='jp' name='region' checked)
            .
              JP
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='jp' name='region')
            .
              JP
        if region === 'asia'
          label.btn.btn-outline-secondary.btnFilterProperty.active
            input(type='radio' value='asia' name='region' checked)
            .
              ASIA
        else
          label.btn.btn-outline-secondary.btnFilterProperty
            input(type='radio' value='asia' name='region')
            .
              ASIA

      hr
      h6.small Filter Options

      .input-group
        if limit
          input.form-control#txtLimit(type='number' placeholder='Limit' name='limit' aria-label='Limit' aria-describedby="btnLimit" value=limit)
        else
          input.form-control#txtLimit(type='number' placeholder='Limit' name='limit' aria-label='Limit' aria-describedby="btnLimit")

      .form-row
        label.col-form-label(for="completeness") Completeness &nbsp;
          select.form-control-sm#completeness(name='completeness')
            if completeness === 'any'
              option(selected) Any
            else
              option Any
            if completeness === 'rapzrif'
              option(selected value='rapzrif') Only RAP/zRIF
            else
              option(value='rapzrif') Only RAP/zRIF
            if completeness === 'pkg'
              option(selected value='pkg') Only PKG
            else
              option(value='pkg') Only PKG
            if completeness === 'pkgrapzrif'
              option(selected value='pkgrapzrif') Both PKG and RAP/zRIF
            else
              option(value='pkgrapzrif') Both PKG and RAP/zRIF
