block sidebar-right
	.col.col-sm-3.col-md
		.sidebar-right
			.card.mt-1
				.card-body
					h5.card-title TSV Files
					a.card-link.clearfix.slidedown-link(href="#") PSV
					.slidedown-data
						a.card-link(href="/tsv/PSV_GAMES.tsv") PSV Games
						br
						a.card-link(href="/tsv/PSV_DLCS.tsv") PSV DLCs
						br
						a.card-link(href="/tsv/PSV_THEMES.tsv") PSV Themes
						br
						a.card-link(href="/tsv/PSV_UPDATES.tsv") PSV Updates
						br
						a.card-link(href="/tsv/PSV_DEMOS.tsv") PSV Demos

					a.card-link.clearfix.slidedown.slidedown-link(href="#") PS3
					.slidedown-data
						a.card-link(href="/tsv/PS3_GAMES.tsv") PS3 Games
						br
						a.card-link(href="/tsv/PS3_DLCS.tsv") PS3 DLCs
						br
						a.card-link(href="/tsv/PS3_THEMES.tsv") PS3 Themes
						br
						a.card-link(href="/tsv/PS3_AVATARS.tsv") PS3 Avatars
						br
						a.card-link(href="/tsv/PS3_DEMOS.tsv") PS3 Demos

					a.card-link.clearfix.slidedown.slidedown-link(href="#") PSP
					.slidedown-data
						a.card-link(href="/tsv/PSP_GAMES.tsv") PSP Games
						br
						a.card-link(href="/tsv/PSP_DLCS.tsv") PSP DLCs
						br
						a.card-link(href="/tsv/PSP_THEMES.tsv") PSP Themes
						br
						a.card-link(href="/tsv/PSP_UPDATES.tsv") PSP Updates
					a.card-link(href="/tsv/PSM_GAMES.tsv") PSM
					br
					a.card-link(href="/tsv/PSX_GAMES.tsv") PSX

					h5.card-title Pending TSV Files
					a.card-link.clearfix.slidedown-link(href="#") PSV
					.slidedown-data
						a.card-link(href="/tsv/pending/PSV_GAMES.tsv") PSV Games
						br
						a.card-link(href="/tsv/pending/PSV_DLCS.tsv") PSV DLCs
						br
						a.card-link(href="/tsv/pending/PSV_THEMES.tsv") PSV Themes
						br
						a.card-link(href="/tsv/pending/PSV_UPDATES.tsv") PSV Updates
						br
						a.card-link(href="/tsv/pending/PSV_DEMOS.tsv") PSV Demos

					a.card-link.clearfix.slidedown.slidedown-link(href="#") PS3
					.slidedown-data
						a.card-link(href="/tsv/pending/PS3_GAMES.tsv") PS3 Games
						br
						a.card-link(href="/tsv/pending/PS3_DLCS.tsv") PS3 DLCs
						br
						a.card-link(href="/tsv/pending/PS3_THEMES.tsv") PS3 Themes
						br
						a.card-link(href="/tsv/pending/PS3_AVATARS.tsv") PS3 Avatars
						br
						a.card-link(href="/tsv/pending/PS3_DEMOS.tsv") PS3 Demos

					a.card-link.clearfix.slidedown.slidedown-link(href="#") PSP
					.slidedown-data
						a.card-link(href="/tsv/pending/PSP_GAMES.tsv") PSP Games
						br
						a.card-link(href="/tsv/pending/PSP_DLCS.tsv") PSP DLCs
						br
						a.card-link(href="/tsv/pending/PSP_THEMES.tsv") PSP Themes
						br
						a.card-link(href="/tsv/pending/PSP_UPDATES.tsv") PSP Updates
					a.card-link(href="/tsv/pending/PSM_GAMES.tsv") PSM
					br
					a.card-link(href="/tsv/pending/PSX_GAMES.tsv") PSX

			.card.mt-1
				.card-body
					h5.card-title Contact
					a.card-link(href='http://nopaystation.com/discord') Discord

					br

					a.card-link(href='https://twitter.com/NoPayStation') Twitter Bot

					//br
					//a.card-link(href="https://twitter.com/NoPayStation") Twitter
