block sidebar-left
	.col-4.col-sm-3.col-md-3
		.sidebar-left
			- if (searchParams)
				- var platform 	= searchParams.platform ? searchParams.platform.toLowerCase() 	: ''
				- var category 	= searchParams.category ? searchParams.category.toLowerCase() 	: ''
				- var region 	= searchParams.region ? searchParams.region.toLowerCase() 		: ''
				- var query 	= searchParams.query ? searchParams.query 		: ''
				- var limit 	= searchParams.limit
				- var sort 		= searchParams.sort ? searchParams.sort.toLowerCase() 			: ''
				- var missing 	= searchParams.missing ? searchParams.missing.toLowerCase() 	: ''
				- var orderBy 	= searchParams.orderBy ? searchParams.orderBy.toLowerCase() 	: ''

			form(id='dbSearchForm' method="GET")
				.input-group
					if query
						input.form-control#txtSearch(type='text' placeholder='Search' name='query' aria-label='Search query' aria-describedby="btnSearch" value=query)
					else
						input.form-control#txtSearch(type='text' placeholder='Search' name='query' aria-label='Search query' aria-describedby="btnSearch")
					.input-group-append
						button.btn.btn-outline-secondary(type="submit" id="btnSearch")
							span.fas.fa-search.fa-xs

				hr

				h6.small Platform
				.btn-group-toggle(data-toggle='buttons')
					if platform === 'psv'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='psv' name='platform' checked)
							.
								PSV
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='psv' name='platform')
							.
								PSV

					if platform === 'psp'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='psp' name='platform' checked)
							.
								PSP
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='psp' name='platform')
							.
								PSP

					if platform === 'ps3'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='ps3' name='platform' checked)
							.
								PS3
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='ps3' name='platform')
							.
								PS3

					if platform === 'psx'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='psx' name='platform' checked)
							.
								PSX
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='psx' name='platform')
							.
								PSX

					if platform === 'psm'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='psm' name='platform' checked)
							.
								PSM
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='psm' name='platform')
							.
								PSM

				hr

				h6.small Category
				.btn-group-toggle(data-toggle='buttons')
					if category === 'game'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='game' name='category' checked)
							.
								Games
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='game' name='category')
							.
								Games
					if category === 'theme'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='theme' name='category' checked)
							.
								Themes
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='theme' name='category')
							.
								Themes
					if category === 'dlc'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='dlc' name='category' checked)
							.
								DLCs
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='dlc' name='category')
							.
								DLCs
					if category === 'avatar'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='avatar' name='category' checked)
							.
								Avatars
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='avatar' name='category')
							.
								Avatars
					if category === 'demo'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='demo' name='category' checked)
							.
								Demos
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='demo' name='category')
							.
								Demos

				hr

				h6.small Region
				.btn-group-toggle(data-toggle='buttons')
					if region === 'us'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='us' name='region' checked)
							.
								US
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='us' name='region')
							.
								US

					if region === 'eu'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='eu' name='region' checked)
							.
								EU
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='eu' name='region')
							.
								EU

					if region === 'jp'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='jp' name='region' checked)
							.
								JP
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='jp' name='region')
							.
								JP
					if region === 'asia'
						label.btn.btn-outline-secondary.btnFilterProperty.active
							input(type='radio' value='asia' name='region' checked)
							.
								ASIA
					else
						label.btn.btn-outline-secondary.btnFilterProperty
							input(type='radio' value='asia' name='region')
							.
								ASIA

				hr
				h6.small Filter Options

				.form-row
					label.col-form-label(for="limit") Limit &nbsp;
						select.form-control-sm#limit(name='limit')
							if limit === 10
								option(selected) 10
							else
								option 10
							if limit === 20
								option(selected) 20
							else
								option 20
							if limit === 50
								option(selected) 50
							else
								option 50
							if limit === 100
								option(selected) 100
							else
								option 100

				.form-row
					label.col-form-label(for="orderBy") Order By &nbsp;
						select.form-control-sm#orderBy(name='orderBy')
							if orderBy === 'completiondate'
								option(value="completionDate" selected) Date
							else
								option(value="completionDate") Date

							if orderBy === 'title'
								option(value="title" selected) Title
							else
								option(value="title") Title

							if orderBy === 'titleid'
								option(value="titleId" selected) Title ID
							else
								option(value="titleId") Title ID

							if orderBy === 'platform'
								option(value="platform" selected) Platform
							else
								option(value="platform") Platform

							if orderBy === 'region'
								option(value="region" selected) Region
							else
								option(value="region") Region

				.form-row
					label.col-form-label(for="sort") Sort &nbsp;
						select.form-control-sm#sort(name='sort')
							if sort === 'desc'
								option(selected) DESC
							else
								option DESC
							if sort === 'asc'
								option(selected) ASC
							else
								option ASC

				.form-row
					label.col-form-label(for="missing") Missing &nbsp;
						select.form-control-sm#missing(name='missing')
							if missing === 'show'
								option(selected) Show
							else
								option Show
							if missing === 'hide'
								option(selected) Hide
							else
								option Hide
							if missing === 'only'
								option(selected) Only
							else
								option Only



