//- manage/edits/edit.pug
extends ../../base/manageBase

block scripts

block content
	.col-8.col-sm-9.col-md-9
		form(action=`/manage/edits/${edit._id}/edit` method="POST")
			.form-row
				.form-group.col-sm
					label(for="original-property") Proposed edit for #{edit.property}
					input.form-control#original-property(type="text" name="original-property" value=edit.newValue readonly)


			.form-row
				.form-group.col-sm
					label(for="newValue") New value for #{edit.property}
					input.form-control#newValue(type="text" name="newValue" placeholder="new value")

			.form-row
				.form-group.col-sm
					input.btn.btn-block.btn-danger(type='submit' value="Save Change")

			//.form-row
			//    .form-group.col-sm
			//        label(for="original-title") Original Name
			//        input.form-control#original-title(type="text" title="regionalTitle" value=((typeof item.regionalTitle === 'undefined') || (item.regionalTitle === "")) ? item.title : item.regionalTitle readonly)

		//.table-responsive-sm
		//    table.table.table-striped
		//        thead
		//            tr
		//                th(scope='col')
		//                th(scope='col') Original
		//                th(scope='col') Changed
		//                th(scope='col') Actions
		//        tbody
		//            tr
		//                th(scope='row') #{edit.property}
		//                td #{originalItem[edit.property]}
		//                td #{edit.newValue}
		//                td
		//                    a.btn.btn-sm.btn-success.mx-1(href=`/manage/edits/${edit._id}/approve`)
		//                        i.fas.fa-check
		//                        | &nbsp; Approve
		//
		//                    a.btn.btn-sm.btn-danger.mx-1(href=`/manage/edits/${edit._id}/reject`)
		//                        i.fas.fa-times
		//                        | &nbsp; Reject
		//
		//
		//                    a.btn.btn-sm.btn-info.mx-1(href=`/manage/edits/${edit._id}/edit`)
		//                        i.fas.fa-edit
		//                        | &nbsp; Edit
