//- manage/edits/index.pug
extends ../../base/manageBase

block scripts

block content
  .col.col-sm-9.col-md
      table.table.table-striped
        thead
          tr
            th Title
            th # Edits
        tbody
          if items.length
            each item in items
              tr
                td
                  if item.originalItem[0]
                    a(href=`/manage/edits/${item._id}`) #{item.originalItem[0].title}
                td #{item.numEdits}
