//- manage/edits/view.pug
extends ../../base/manageBase

block scripts

block content
	- var url = originalItem.hasOwnProperty('version') ? `/view/${originalItem.platform}/${originalItem.titleId}/${originalItem.licenseId}/${originalItem.appVer}?version=${originalItem.version}` : `/view/${originalItem.platform}/${originalItem.titleId}/${originalItem.licenseId}/${originalItem.appVer}`
	.col-8.col-sm-9.col-md-9
		h3
			| Proposed Edits for&nbsp;
			a(href=`${url}`) #{originalItem.title}
			//a(href=`/view/${originalItem.platform}/${originalItem.titleId}/${originalItem.licenseId}/${originalItem.appVer}`) #{originalItem.title}
		h6 #{originalItem.contentId}
		br

		.table-responsive
			table.table.table-striped
				thead
					tr
						th(scope='col')
						th(scope='col') Original
						th(scope='col') Changed
						th(scope='col') Actions
				tbody
					each edit in edits
						tr
							th(scope='row') #{edit.property}
							td #{originalItem[edit.property]}
							td #{edit.newValue}
							td
								a.btn.btn-sm.btn-success.mx-1(href=`/manage/edits/${edit._id}/approve`)
									i.fas.fa-check
									| &nbsp; Approve

								a.btn.btn-sm.btn-danger.mx-1(href=`/manage/edits/${edit._id}/reject`)
									i.fas.fa-times
									| &nbsp; Reject


								a.btn.btn-sm.btn-info.mx-1(href=`/manage/edits/${edit._id}/edit`)
									i.fas.fa-edit
									| &nbsp; Edit
