include ../includes/_itemDropDownLists

#form
	//h2.mb-3.text-center Batch Contributions
	h2.mb-3.text-center Confirm #{contributionMethod.capitalize()} Contribution
	if items.orphans.length
		.toggle
			.toggle-title
				h5
					i.fas.fa-plus
					span.title-name Orphan Submissions (#{items.orphans.length})
			.toggle-inner
				ul
					each item in items.orphans
						li
							a.showForm(href='#') #{item.item.platform || item.item.gi.platform || 'UNKNOWN'} #{item.item.category || item.item.gi.category || 'UNKNOWN'} - #{item.item.titleId} - #{item.item.name || item.item.gi.title || 'UNKNOWN TITLE'}

							div
								p Reason: #{item.message}


	if items.rejected.length
		.toggle
			.toggle-title
				h5
					i.fas.fa-plus
					span.title-name Rejected Submissions (#{items.rejected.length})
			.toggle-inner
				ul
					each item in items.rejected
						li
							a.showForm(href="#") #{item.item.platform || item.item.gi.platform || 'UNKNOWN'} #{item.item.category || item.item.gi.category || 'UNKNOWN'} - #{item.item.titleId} - #{item.item.name || item.item.gi.title || 'UNKNOWN TITLE'}

							div
								p Reason: #{item.message}

	form
		if items.updated.length
			.toggle
				.toggle-title
					h5
						i.fas.fa-plus
						span.title-name Updated Items (#{items.updated.length})
				.toggle-inner
					ul
						each item in items.updated
							li
								a.showForm(href="#") #{item.item.platform || item.item.gi.platform || 'UNKNOWN'} #{item.item.category || item.item.gi.category || 'UNKNOWN'} - #{item.item.titleId} - #{item.item.name || item.item.gi.title || 'UNKNOWN TITLE'}

								div(id=item.item.contentId || item.item.gi.contentId)
									.form-row
										.form-group.col-sm
											label(for="title") Title
											input.form-control#title(type="text" name=`${item.item.contentId || item.item.gi.contentId}[title]` value=(item.item.name || item.item.gi.title || 'UNKNOWN TITLE') required)
										if item.item.regionalTitle || item.item.gi.regionalTitle
											.form-group.col-sm
												label(for="regional-title") Regional Title
												input.form-control#regional-title(type="text" name=`${item.item.contentId || item.item.gi.contentId}[regionalTitle]` value=(item.item.regionalTitle || item.item.gi.regionalTitle) required)

									.form-row
										.form-group.col-sm
											label(for="pkg") PKG Url
											input.form-control#pkg(type="text" name=`${item.item.contentId || item.item.gi.contentId}[pkg]` value=(item.item.gi.pkg || item.item.pkg || 'MISSING') readonly)

										if item.item.license || item.item.gi.license
											.form-group.col-sm
												label(for="license-text") #{item.item.licenseType || item.item.gi.licenseType}
												input.d-none#licenseType(type="text" name=`${item.item.contentId || item.item.gi.contentId}[licenseType]` value=(item.item.licenseType || item.item.gi.licenseType))
												input.form-control#license-text(type="text" name=`${item.item.contentId || item.item.gi.contentId}[license]` value=(item.item.license || item.item.gi.license || 'MISSING') readonly)

									.form-row
										.form-group.col-sm
											label(for="contentId") Content ID
											input.form-control#contentId(type="text" name=`${item.item.contentId || item.item.gi.contentId}[contentId]` value=(item.item.contentId || item.item.gi.contentId) readonly)
										.form-group.col-sm
											label(for="titleId") Title ID
											input.form-control#titleId(type="text" name=`${item.item.contentId || item.item.gi.contentId}[titleId]` value=(item.item.titleId || item.item.gi.titleId) readonly)

									.form-row
										.form-group.col-sm
											label(for="region") Region
											+regionDDL((item.item.region || item.item.gi.region), (item.item.contentId || item.item.gi.contentId))

										.form-group.col-sm
											label(for="file-type") Category
											+categoryDDL((item.item.category || item.item.gi.category), (item.item.contentId || item.item.gi.contentId))

										.form-group.col-sm
											label(for="console-type") Platform
											+platformDDL((item.item.platform || item.item.gi.platform), (item.item.contentId || item.item.gi.contentId))

										if item.item.subType || item.item.gi.subType
											.form-group.col-sm
												label(for="subType") Sub Type
												+subTypeDDL((item.item.subType || item.item.gi.subType), (item.item.contentId || item.item.gi.contentId))

									.form-row
										if item.item.gi.minFw !== null
											.form-group.col-sm
												label(for="min-fw") Min FW
												input.form-control#min-fw(type="text" name=`${item.item.contentId || item.item.gi.contentId}[minFw]` value=(item.item.minFw || item.item.gi.minFw || 0) readonly)

										.form-group.col-sm
											label(for="fileSize") Size
											input.form-control#fileSize(type="text" name=`${item.item.contentId || item.item.gi.contentId}[fileSize]` value=(item.item.fileSize || item.item.gi.fileSize || 0) readonly)

										.form-group.col-sm
											label(for="prettySize") Pretty Size
											input.form-control#prettySize(type="text" name=`${item.item.contentId || item.item.gi.contentId}[prettySize]` value=(item.item.prettySize || item.item.gi.prettySize) readonly)

										if item.item.gi.appVer !== null
											.form-group.col-sm
												label(for="appVer") App Version
												input.form-control#appVer(type="text" name=`${item.item.contentId || item.item.gi.contentId}[appVer]` value=(item.item.appVer || item.item.gi.appVer || 0) readonly)


										if item.item.version !== null || item.item.gi.version !== null
											.form-group.col-sm
												label(for="version") Version
												input.form-control#version(type="text" name=`${item.item.contentId || item.item.gi.contentId}[version]` value=item.item.gi.version readonly)

									if item.item.url || item.item.gi.url
										.form-row
											.form-group.col-sm
												label(for="url") Store URL:
												input.form-control#url(type="text" name=`${item.item.contentId || item.item.gi.contentId}[url]` value=(item.item.url || item.item.gi.url) readonly)

									.form-row
										.form-group.col-sm
											label(for="item-notes") Notes:
											input.form-control#item-notes(type="text" name=`${item.item.contentId || item.item.gi.contentId}[notes]` value="")

		if items.new.length
			.toggle.newItems
				.toggle-title
					h5
						i.fas.fa-plus
						span.title-name New Additions (#{items.new.length})
				.toggle-inner
					ul
						each item in items.new
							li
								a.showForm(href="#") #{item.item.platform || item.item.gi.platform || 'UNKNOWN'} #{item.item.category || item.item.gi.category || 'UNKNOWN'} - #{item.item.titleId} - #{item.item.name || item.item.gi.title || 'UNKNOWN TITLE'}

								div(id=item.item.contentId || item.item.gi.contentId)
									.form-row
										.form-group.col-sm
											label(for="title") Title
											input.form-control#title(type="text" name=`${item.item.contentId || item.item.gi.contentId}[title]` value=(item.item.name || item.item.gi.title || 'UNKNOWN TITLE') required)
										if item.item.regionalTitle || item.item.gi.regionalTitle
											.form-group.col-sm
												label(for="regional-title") Regional Title
												input.form-control#regional-title(type="text" name=`${item.item.contentId || item.item.gi.contentId}[regionalTitle]` value=(item.item.regionalTitle || item.item.gi.regionalTitle) required)

									.form-row
										.form-group.col-sm
											label(for="pkg") PKG Url
											input.form-control#pkg(type="text" name=`${item.item.contentId || item.item.gi.contentId}[pkg]` value=(item.item.gi.pkg || item.item.pkg || 'MISSING') readonly)

										if item.item.license || item.item.gi.license
											.form-group.col-sm
												label(for="license-text") #{item.item.licenseType || item.item.gi.licenseType}
												input.d-none#licenseType(type="text" name=`${item.item.contentId || item.item.gi.contentId}[licenseType]` value=(item.item.licenseType || item.item.gi.licenseType))
												input.form-control#license-text(type="text" name=`${item.item.contentId || item.item.gi.contentId}[license]` value=(item.item.license || item.item.gi.license || 'MISSING') readonly)

									.form-row
										.form-group.col-sm
											label(for="contentId") Content ID
											input.form-control#contentId(type="text" name=`${item.item.contentId || item.item.gi.contentId}[contentId]` value=(item.item.contentId || item.item.gi.contentId) readonly)
										.form-group.col-sm
											label(for="titleId") Title ID
											input.form-control#titleId(type="text" name=`${item.item.contentId || item.item.gi.contentId}[titleId]` value=(item.item.titleId || item.item.gi.titleId) readonly)

										.form-group.col-sm
											label(for="region") Region
											+regionDDL((item.item.region || item.item.gi.region), (item.item.contentId || item.item.gi.contentId))

									.form-row
										.form-group.col-sm
											label(for="file-type") Category
											+categoryDDL((item.item.category || item.item.gi.category), (item.item.contentId || item.item.gi.contentId))

										.form-group.col-sm
											label(for="console-type") Platform
											+platformDDL((item.item.platform || item.item.gi.platform), (item.item.contentId || item.item.gi.contentId))

										if item.item.subType || item.item.gi.subType
											.form-group.col-sm
												label(for="subType") Sub Type
												+subTypeDDL((item.item.subType || item.item.gi.subType), (item.item.contentId || item.item.gi.contentId))

									.form-row
										if item.item.gi.minFw !== null
											.form-group.col-sm
												label(for="min-fw") Min FW
												input.form-control#min-fw(type="text" name=`${item.item.contentId || item.item.gi.contentId}[minFw]` value=(item.item.minFw || item.item.gi.minFw || 0) readonly)

										.form-group.col-sm
											label(for="fileSize") Size
											input.form-control#fileSize(type="text" name=`${item.item.contentId || item.item.gi.contentId}[fileSize]` value=(item.item.fileSize || item.item.gi.fileSize || 0) readonly)

										.form-group.col-sm
											label(for="prettySize") Pretty Size
											input.form-control#prettySize(type="text" name=`${item.item.contentId || item.item.gi.contentId}[prettySize]` value=(item.item.prettySize || item.item.gi.prettySize) readonly)

										if item.item.gi.appVer !== null
											.form-group.col-sm
												label(for="appVer") App Version
												input.form-control#appVer(type="text" name=`${item.item.contentId || item.item.gi.contentId}[appVer]` value=(item.item.appVer || item.item.gi.appVer || 0) readonly)


										if item.item.gi.version !== null
											.form-group.col-sm
												label(for="version") Version
												input.form-control#version(type="text" name=`${item.item.contentId || item.item.gi.contentId}[version]` value=item.item.gi.version readonly)

									if item.item.url || item.item.gi.url || item.item.productId || item.item.gi.productId
										.form-row
											if item.item.url || item.item.gi.url
												.form-group.col-sm
													label(for="url") Store URL:
													input.form-control#url(type="text" name=`${item.item.contentId || item.item.gi.contentId}[url]` value=(item.item.url || item.item.gi.url) readonly)

											if item.item.productId || item.item.gi.productId
												.form-group.col-sm
													label(for="productId") Product ID:
													input.form-control#productId(type="text" name=`${item.item.contentId || item.item.gi.contentId}[productId]` value=item.item.productId || item.item.gi.productId readonly)

									.form-row
										.form-group.col-sm
											label(for="item-notes") Notes:
											input.form-control#item-notes(type="text" name=`${item.item.contentId || item.item.gi.contentId}[notes]` value="")

	br

	if items.updated.length || items.new.length
		form#finalizeForm(action=`/contribute/batch/finalize` method="POST")
			.form-group-col-sm
				input.d-none#serializedInput(type="text" name="serializedInput")
				button.btn.btn-block.btn-primary#btnFinalize(type="submit") Contribute
	else
		.form-group-col-sm
			a.button.btn.btn-block.btn-primary(href="/contribute") Go Back
