extends ../base/base

block styles

block scripts
	script(src="/build/js/contribution.js")

block content
	.col
		.jumbotron
			.spinnerOverlay
				.spinnerSpanner
					.loader
					p#spinnerStatus
			#form
				h1.display-6.text-center Batch
				form
					.form-group
						label.col-form-label(for="psdle") PSDLE .JSON:
						input.form-control-file#psdle(type="file" name="psdle" accept=".json" required)
					.form-group
						label.col-form-label(for="batchzip") License .ZIP:
						input.form-control-file#batchzip(type="file" name="batchzip" accept=".zip" required)
				form#inputForm(action="/contribute/batch/validate" method="POST")
					input.d-none#items(type="text" name="items")
					.form-group
						button.btn.btn-primary#btnValidate(type="submit") Validate
