extends ../base/base
include ../includes/_itemDropDownLists

block scripts
	script(src="/build/js/contribution.js")

block content
	.col
		.jumbotron
			#form
			h2.mb-3.text-center Finalize Contribution

			form#finalizeForm(action=`/contribute/single/finalize` method="POST")

				.form-row
					.form-group.col-sm
						label(for="title") Title
						input.form-control#title(type="text" name="title" value=item.gi.title || 'UNKNOWN TITLE' required)
					if item.gi.regionalTitle
						.form-group.col-sm
							label(for="original-title") Original Title
							input.form-control#original-title(type="text" name="regionalTitle" value=item.gi.regionalTitle)

				.form-row
					.form-group.col-sm
						label(for="pkg") PKG Url
						input.form-control#pkg(type="text" name="pkg" value=item.gi.pkg || item.gi.source || 'MISSING' readonly)

					if item.license
						.form-group.col-sm
							label(for="license-text") #{item.licenseType}
							input.d-none#licenseType(type="text" name=licenseType value=item.licenseType)
							input.form-control#license-text(type="text" name="license" value=item.gi.license || 'MISSING' readonly)

				.form-row
					.form-group.col-sm
						label(for="contentId") Content ID
						if item.gi.contentId
							input.form-control#contentId(type="text" name="contentId" value=item.gi.contentId readonly)
						else
							input.form-control#contentId(type="text" name="contentId" value='UNKNOWN')
					.form-group.col-sm
						label(for="titleId") Title ID
						if item.gi.titleId
							input.form-control#titleId(type="text" name="titleId" value=item.gi.titleId readonly)
						else
							input.form-control#titleId(type="text" name="titleId" value='UNKNOWN')
					.form-group.col-sm
						label(for="region") Region
						if item.gi.region !== 'UNKNOWN'
							input.form-control#region(type="text" name="region" value=item.gi.region readonly)
						else
							+regionDDL(item.gi.region)

				.form-row
					.form-group.col-sm
						label(for="category") Category
						+categoryDDL(item.gi.category)

					.form-group.col-sm
						label(for="platform") Platform
						if item.gi.platform !== 'UNKNOWN'
							input.form-control#platform(type="text" name="platform" value=item.gi.platform readonly)
						else
							+platformDDL(item.gi.platform)
					if item.subType
						.form-group.col-sm
							label(for="subType") Sub Type
							+subTypeDDL(item.subType)

				.form-row
					if item.gi.minFw !== null
						.form-group.col-sm
							label(for="minFw") Min FW
							input.form-control#minFw(type="text" name="minFw" value=item.gi.minFw readonly)
					.form-group.col-sm
						label(for="fileSize") Size
						input.form-control#fileSize(type="text" name="fileSize" value=item.gi.fileSize readonly)
					if item.gi.prettySize !== null
						.form-group.col-sm
							label(for="prettySize") Pretty Size
							input.form-control#prettySize(type="text" name="prettySize" value=item.gi.prettySize readonly)
					if item.gi.appVer !== null
						.form-group.col-sm
							label(for="appVer") App Version
							input.form-control#appVer(type="text" name="appVer" value=item.gi.appVer readonly)
					if item.gi.version !== null
						.form-group.col-sm
							label(for="version") Version
							input.form-control#version(type="text" name="version" value=item.gi.version readonly)


				.form-row
					.form-group.col-sm
						label(for="item-notes") Notes:
						input.form-control#item-notes(type="text" name="notes" value="")

					hr

				.form-group
					button.btn.btn-block.btn-primary(type="submit") Contribute
