include ../includes/_itemDropDownLists

#spinner
#form
	h2.mb-3.text-center Finalize Contributions

	if items.orphans.length
		.toggle
			.toggle-title
				h5
					i.fas.fa-plus
					span.title-name Orphan Submissions (#{items.orphans.length})
			.toggle-inner
				ul
					each item in items.orphans
						li
							if item.item.baseGame
								a.showForm(href='#') #{item.item.gi.platform} #{item.item.gi.category}  - #{item.item.baseGame} - #{item.item.name}
							else
								a.showForm(href='#') #{item.item.gi.platform} #{item.item.gi.category} - #{item.item.name}
							div
								p Reason: #{item.message}


	if items.rejected.length
		.toggle
			.toggle-title
				h5
					i.fas.fa-plus
					span.title-name Rejected Submissions (#{items.rejected.length})
			.toggle-inner
				ul
					each item in items.rejected
						li
							if item.item.baseGame
								a.showForm(href='#') #{item.item.gi.platform} #{item.item.gi.category}  - #{item.item.baseGame} - #{item.item.name}
							else
								a.showForm(href='#') #{item.item.gi.platform} #{item.item.gi.category} - #{item.item.name}
							div
								p Reason: #{item.message}

	form
		if items.updated.length
			.toggle
				.toggle-title
					h5
						i.fas.fa-plus
						span.title-name Updated Items (#{items.updated.length})
				.toggle-inner
					ul
						each item in items.updated
							li
								if item.item.baseGame !== 'UNKNOWN'
									a.showForm(href='#') #{item.item.gi.platform} #{item.item.gi.category} - #{item.item.baseGame} - #{item.item.name}
								else
									a.showForm(href='#') #{item.item.gi.platform} #{item.item.gi.category} - #{item.item.gi.titleId} - #{item.item.name}

								div(id=item.item.contentId)
									.form-row
										.form-group.col-sm
											label(for="title") Title
											input.form-control#title(type="text" name=`${item.item.gi.contentId}[title]` value=item.item.gi.title required)
										if item.gi.regionalTitle
											.form-group.col-sm
												label(for="regional-title") Regional Title
												if item.item.gi.regionalTitle === item.item.gi.title
													input.form-control#regional-title(type="text" name=`${item.item.gi.contentId}[regionalTitle]` value=item.item.gi.title required)
												else
													input.form-control#regional-title(type="text" name=`${item.item.gi.contentId}[regionalTitle]` value=item.item.gi.regionalTitle required)

									.form-row
										.form-group.col-sm
											label(for="url") PKG Url
											input.form-control#url(type="text" name=`${item.item.gi.contentId}[url]` value=item.gi.url readonly)

										if item.licenseType
											.form-group.col-sm
												label(for="license-text") #{item.licenseType}
												input.d-none#licenseType(type="text" name=`${item.item.gi.contentId}[licenseType]` value=item.licenseType)
												input.form-control#license-text(type="text" name=`${item.item.gi.contentId}[license]` value=item.item.gi.license ? item.item.gi.license : 'MISSING' readonly)

									.form-row
										.form-group.col-sm-6
											label(for="contentId") Content ID
											input.form-control#contentId(type="text" name=`${item.item.gi.contentId}[contentId]` value=item.item.gi.contentId readonly)
										.form-group.col-sm-6
											label(for="titleId") Title ID
											input.form-control#titleId(type="text" name=`${item.item.gi.contentId}[titleId]` value=item.item.gi.titleId readonly)

									.form-row
										.form-group.col-sm-6
											label(for="region") Region
											if item.item.gi.region !== 'UNKNOWN'
												input.form-control#region(type="text" name=`${item.item.gi.contentId}[region]` value=item.item.gi.region readonly)
											else
												+regionDDL(item.item.gi.region, item.item.gi.contentId)

										.form-group.col-sm-6
											label(for="min-fw") Min FW
											input.form-control#min-fw(type="text" name=`${item.item.gi.contentId}[minFw]` value=item.item.gi.minFw readonly)

										if item.subType
											.form-group.col-sm
												label(for="subType") Sub Type
												input.form-control#subType(type="text" name="subType" value=item.item.gi.subType readonly)

									.form-row
										.form-group.col-sm-4
											label(for="console-type") Platform
											if item.item.gi.platform !== 'UNKNOWN'
												input.form-control#platform(type="text" name=`${item.item.gi.contentId}[platform]` value=item.item.gi.platform readonly)
											else
												+platformDDL(item.item.gi.platform, item.item.gi.contentId)

										.form-group.col-sm-4
											label(for="file-type") Category
											if item.item.gi.platform === 'PS4'
												if item.item.gi.sfoCategory === 'gd'
													input.form-control#file-type(type="text" name=`${item.item.gi.contentId}[category]` value='Game' readonly)
												else if item.item.gi.sfoCategory === 'ac'
													input.form-control#file-type(type="text" name=`${item.item.gi.contentId}[category]` value='DLC' readonly)
											else
												if item.item.gi.category !== 'UNKNOWN'
													input.form-control#file-type(type="text" name=`${item.item.gi.contentId}[category]` value=item.item.gi.category readonly)
												else
													+categoryDDL(item.item.gi.category, item.item.gi.contentId)

										.form-group.col-sm-4
											label(for="prettySize") Pretty Size
											input.form-control#prettySize(type="text" name=`${item.item.gi.contentId}[prettySize]` value=item.item.gi.prettySize readonly)


									.form-row
										.form-group.col-sm
											label(for="item-notes") Notes:
											input.form-control#item-notes(type="text" name=`${item.item.gi.contentId}[notes]` value="")

		if items.new.length
			.toggle.newItems
				.toggle-title
					h5
						i.fas.fa-plus
						span.title-name New Additions (#{items.new.length})
				.toggle-inner
					ul
						each item in items.new
							li
								if item.item.gi
									if item.baseGame !== 'UNKNOWN'
										a.showForm(href='#') #{item.item.gi.platform} #{item.item.gi.category} - #{item.baseGame} - #{item.item.gi.title}
									else
										a.showForm(href='#') #{item.item.gi.platform} #{item.item.gi.category} - #{item.item.gi.titleId} - #{item.item.gi.title}

								div(id=item.item.contentId)
									.form-row
										.form-group.col-sm
											label(for="title") Title
											input.form-control#title(type="text" name=`${item.item.gi.contentId}[title]` value=item.item.gi.title required)
										if item.item.gi.regionalTitle
											.form-group.col-sm
												label(for="regional-title") Regional Title
												//if item.item.gi.regionalTitle === item.item.gi.title
												//	input.form-control#regional-title(type="text" name=`${item.item.gi.contentId}[regionalTitle]` value=item.item.gi.title required)
												//else
												input.form-control#regional-title(type="text" name=`${item.item.gi.contentId}[regionalTitle]` value=item.item.gi.regionalTitle required)

									.form-row
										.form-group.col-sm
											label(for="url") PKG Url
											input.form-control#url(type="text" name=`${item.item.gi.contentId}[url]` value=item.item.url readonly)

										if item.item.licenseType
											.form-group.col-sm
												label(for="license-text") #{item.item.licenseType}
												input.d-none#licenseType(type="text" name=`${item.item.gi.contentId}[licenseType]` value=item.item.licenseType)
												input.form-control#license-text(type="text" name=`${item.item.gi.contentId}[license]` value=item.item.gi.license ? item.item.gi.license : 'MISSING' readonly)

									.form-row
										.form-group.col-sm-6
											label(for="contentId") Content ID
											input.form-control#contentId(type="text" name=`${item.item.gi.contentId}[contentId]` value=item.item.gi.contentId readonly)
										.form-group.col-sm-6
											label(for="titleId") Title ID
											input.form-control#titleId(type="text" name=`${item.item.gi.contentId}[titleId]` value=item.item.gi.titleId readonly)

									.form-row
										.form-group.col-sm-6
											label(for="region") Region
											if item.item.gi.region !== 'UNKNOWN'
												input.form-control#region(type="text" name=`${item.item.gi.contentId}[region]` value=item.item.gi.region readonly)
											else
												+regionDDL(item.item.gi.region, item.item.gi.contentId)

										.form-group.col-sm-6
											label(for="min-fw") Min FW
											input.form-control#min-fw(type="text" name=`${item.item.gi.contentId}[minFw]` value=item.item.gi.minFw readonly)

										if item.subType
											.form-group.col-sm
												label(for="subType") Sub Type
												input.form-control#subType(type="text" name="subType" value=item.item.gi.subType readonly)

									.form-row
										.form-group.col-sm-4
											label(for="console-type") Platform
											if item.item.gi.platform !== 'UNKNOWN'
												input.form-control#platform(type="text" name=`${item.item.gi.contentId}[platform]` value=item.item.gi.platform readonly)
											else
												+platformDDL(item.item.gi.platform, item.item.gi.contentId)

										.form-group.col-sm-4
											label(for="file-type") Category
											if item.item.gi.platform === 'PS4'
												if item.item.gi.sfoCategory === 'gd'
													input.form-control#file-type(type="text" name=`${item.item.gi.contentId}[category]` value='Game' readonly)
												else if item.item.gi.sfoCategory === 'ac'
													input.form-control#file-type(type="text" name=`${item.item.gi.contentId}[category]` value='DLC' readonly)
											else
												if item.item.gi.category !== 'UNKNOWN'
													input.form-control#file-type(type="text" name=`${item.item.gi.contentId}[category]` value=item.item.gi.category readonly)
												else
													+categoryDDL(item.item.gi.category, item.item.gi.contentId)

										.form-group.col-sm-4
											label(for="prettySize") Pretty Size
											input.form-control#prettySize(type="text" name=`${item.item.gi.contentId}[prettySize]` value=item.item.gi.prettySize readonly)

									.form-row
										.form-group.col-sm
											label(for="item-notes") Notes:
											input.form-control#item-notes(type="text" name=`${item.item.gi.contentId}[notes]` value="")

	br

	if items.updated.length || items.new.length
		form#finalizeForm(action=`/contribute/batch/finalize` method="POST")
			.form-group-col-sm
				input.d-none#serializedInput(type="text" name="serializedInput")
				button.btn.btn-block.btn-primary#btnFinalize(type="submit") Contribute
	else
		.form-group-col-sm
			a.button.btn.btn-block.btn-primary(href="/contribute") Go Back
