//- contribute.pug
extends ../base/base

block content
	.col
		.jumbotron
			h1.display-6.text-center Pick A Method

			hr.my-4

			.btns.text-center
				a.btn.btn-primary.btn-lg.start(href="/contribute/single" role="button") Single

				| &nbsp;

				a.btn.btn-primary.btn-lg.start(href="/contribute/batch" role="button") Batch
