include ../includes/_itemDropDownLists
ul
	each item in items
		li
			if item.item.baseGame !== 'UNKNOWN'
				a.showForm(href='#') #{item.item.platform} #{item.item.gi.pkgType} - #{item.item.baseGame} - #{item.item.name}
			else
				a.showForm(href='#') #{item.item.platform} #{item.item.gi.pkgType} - #{item.item.gi.titleId} - #{item.item.name}

			div(id=item.item.gi.contentId)
				.form-row
					.form-group.col-sm
						label(for="title") Title
						input.form-control#title(type="text" name=`${item.item.gi.contentId}[title]` value=item.item.name required)
					if item.item.gi.regionalTitle
						.form-group.col-sm
							label(for="regional-title") Regional Title
							//if item.item.gi.regionalTitle === item.item.gi.title
							//	input.form-control#regional-title(type="text" name=`${item.item.gi.contentId}[regionalTitle]` value=item.item.gi.title required)
							//else
							input.form-control#regional-title(type="text" name=`${item.item.gi.contentId}[regionalTitle]` value=item.item.gi.regionalTitle required)

				.form-row
					.form-group.col-sm
						label(for="url") PKG Url
						input.form-control#url(type="text" name=`${item.item.gi.contentId}[url]` value=item.item.url readonly)

					.form-group.col-sm
						label(for="license-text") #{item.licenseType}
						input.d-none#licenseType(type="text" name=`${item.item.gi.contentId}[licenseType]` value=item.licenseType)
						input.form-control#license-text(type="text" name=`${item.item.gi.contentId}[license]` value=item.item.gi.license ? item.item.gi.license : 'MISSING' readonly)

				.form-row
					.form-group.col-sm-6
						label(for="contentId") Content ID
						input.form-control#contentId(type="text" name=`${item.item.gi.contentId}[contentId]` value=item.item.gi.contentId readonly)
					.form-group.col-sm-6
						label(for="titleId") Title ID
						input.form-control#titleId(type="text" name=`${item.item.gi.contentId}[titleId]` value=item.item.gi.titleId readonly)

				.form-row
					.form-group.col-sm-6
						label(for="region") Region
						if item.item.gi.region !== 'UNKNOWN'
							input.form-control#region(type="text" name=`${item.item.gi.contentId}[region]` value=item.item.gi.region readonly)
						else
							+regionDDL(item.item.gi.region, item.item.gi.contentId)

					.form-group.col-sm-6
						label(for="min-fw") Min FW
						input.form-control#min-fw(type="text" name=`${item.item.gi.contentId}[minFw]` value=item.item.gi.minFw readonly)

				.form-row
					.form-group.col-sm-4
						label(for="console-type") Platform
						if item.item.gi.pkgPlatform !== 'UNKNOWN'
							input.form-control#platform(type="text" name=`${item.item.gi.contentId}[platform]` value=item.item.gi.pkgPlatform readonly)
						else
							+platformDDL(item.item.gi.pkgPlatform, item.item.gi.contentId)

					.form-group.col-sm-4
						label(for="file-type") Category
						if item.item.gi.pkgType !== 'UNKNOWN'
							input.form-control#file-type(type="text" name=`${item.item.gi.contentId}[category]` value=item.item.gi.pkgType readonly)
						else
							+categoryDDL(item.item.gi.pkgType, item.item.gi.contentId)

					.form-group.col-sm-4
						label(for="prettySize") Pretty Size
						input.form-control#prettySize(type="text" name=`${item.item.gi.contentId}[prettySize]` value=item.item.gi.prettySize readonly)

				.form-row
					.form-group.col-sm
						label(for="item-notes") Notes:
						input.form-control#item-notes(type="text" name=`${item.item.gi.contentId}[notes]` value="")
