extends ../base/base

block scripts
	script(src="/build/js/contribution.js")


block content
	.col
		.jumbotron
			#form
				h1.display-6.text-center Single
				form#inputForm(action="/contribute/single/validate" method="POST")
					.form-group
						label.col-form-label(for="pkg") PKG URL:
						input.form-control#pkg(type="text" name="pkg")
					.form-group
						label.col-form-label(for="licenseFileField") zRIF / RAP:
						input.form-control-file#licenseFileField(type="file" accept=".bin,.rif,.rap")

					input.d-none#license(type="text" name="license")
					input.d-none#licenseType(type="text" name="licenseType")
					input.d-none#contentId(type="text" name="contentId")
					input.d-none#titleId(type="text" name="titleId")
					input.d-none#platform(type="text" name="platform")
					.form-group
						button.btn.btn-primary#btnValidate(type="submit") Validate
