extends base/base

block scripts


block content
	.col-10.offset-1.col-sm-8.offset-sm-2.col-md-8.offset-md-2
		.jumbotron
			#spinner
			#form
				h1.display-6.text-center Fetch Game Details
				div
					.form-group
						label.col-form-label(for="contentId") Content ID:
						input.form-control#contentId(type="text" name="contentId")

					.form-group
						button.btn.btn-primary#btnFetch(type="submit") Validate