//- manage/changePassword.pug
extends ../base/manageBase

block scripts

block content
	.col-8.col-sm-9.col-md
		h5 Change Password
		br
		form#passwordForm(action='/manage/changePassword' method='POST')
			.form-group
				label.col-form-label(for="newPassword") New Password:
				input.form-control#newPassword(type="password" name="newPassword")
			.form-group
				label.col-form-label(for="cNewPassword") Confirm New Password:
				input.form-control#cNewPassword(type="password" name="cNewPassword")
			.form-group
				button.btn.btn-block.btn-primary(type="submit") Change Password
