//- manage/submissions.pug
extends ../base/manageBase

block scripts
  script(src="/js/managesubmissions.js")
  script(src="/js/filter.js")

block content
  .col-7.col-sm-8.col-md-8
    h5 Current Total: #{totalItemCount}
    table.table.table-striped
      thead
        tr
          th
            input.checkAll(type='checkbox' name='checkAll')
          th Title
      tbody
        each item in items
          tr
            include partials/_contributionList

    form#contribForm(method="POST")
      input.d-none#selectedItems(name="selected")

      span.mr-1#numSelectedItems 0
      span.mr-1
        | selected


      span.d-inline-flex.divActions
        button.btn.btn-sm.btn-success#btnApprove(type="submit" value="approve" disabled)
          i.fas.fa-check
          | &nbsp; Approve

        button.btn.btn-sm.btn-danger.mx-1#btnReject(type="submit" value="reject" disabled)
          i.fas.fa-times
          | &nbsp; Reject

    hr 

    include ../includes/_contributionPagination
