//- manage/database.pug
extends ../base/manageBase

block scripts

block content

	.col-8.col-sm-9.col-md
		h3 Generate TSV File
		br
		form#generateTSV(action='/manage/database/generateTSV' method="POST")
			select(name="tsv")
				optgroup(label='PS Vita')
					option(value="PSV GAME") PSV GAMES
					option(value="PSV DEMO") PSV DEMOS
					option(value="PSV DLC") PSV DLCS
					option(value="PSV THEME") PSV THEMES
					option(value="PSV UPDATE") PSV UPDATES

				optgroup(label='PS3')
					option(value="PS3 GAME") PS3 GAMES
					option(value="PS3 DEMO") PS3 DEMOS
					option(value="PS3 DLC") PS3 DLCS
					option(value="PS3 THEME") PS3 THEMES
					option(value="PS3 AVATAR") PS3 AVATARS
					option(value="PS3 UPDATE") PS3 UPDATES

				optgroup(label='PSP')
					option(value="PSP GAME") PSP GAMES
					option(value="PSP DLC") PSP DLCS
					option(value="PSP THEME") PSP THEMES
					option(value="PSP UPDATE") PSP UPDATES

				optgroup(label='PSM')
					option(value="PSM GAME") PSM GAMES

				optgroup(label='PSX')
					option(value="PSX GAME") PSX GAMES

				// optgroup(label='PS4')
				// 	option(value="PS4 GAME") PS4 GAMES
				// 	option(value="PS4 DEMO") PS4 DEMOS
				// 	option(value="PS4 DLC") PS4 DLCS
				// 	option(value="PS4 THEME") PS4 THEMES
				// 	option(value="PS4 AVATAR") PS4 AVATARS
			br
			input.btn.btn-primary.btn-sm(type='submit')

		hr

		h3 Generate Pending TSV File
		br
		form#generateTSV(action='/manage/database/generatePendingTSV' method="POST")
			select(name="tsv")
				optgroup(label='PS Vita')
					option(value="PSV GAME") PSV GAMES
					option(value="PSV DEMO") PSV DEMOS
					option(value="PSV DLC") PSV DLCS
					option(value="PSV THEME") PSV THEMES
					option(value="PSV UPDATE") PSV UPDATES

				optgroup(label='PS3')
					option(value="PS3 GAME") PS3 GAMES
					option(value="PS3 DEMO") PS3 DEMOS
					option(value="PS3 DLC") PS3 DLCS
					option(value="PS3 THEME") PS3 THEMES
					option(value="PS3 AVATAR") PS3 AVATARS
					option(value="PS3 UPDATE") PS3 UPDATES

				optgroup(label='PSP')
					option(value="PSP GAME") PSP GAMES
					option(value="PSP DLC") PSP DLCS
					option(value="PSP THEME") PSP THEMES
					option(value="PSP UPDATE") PSP UPDATES

				optgroup(label='PSM')
					option(value="PSM GAME") PSM GAMES

				optgroup(label='PSX')
					option(value="PSX GAME") PSX GAMES

				// optgroup(label='PS4')
				// 	option(value="PS4 GAME") PS4 GAMES
				// 	option(value="PS4 DEMO") PS4 DEMOS
				// 	option(value="PS4 DLC") PS4 DLCS
				// 	option(value="PS4 THEME") PS4 THEMES
				// 	option(value="PS4 AVATAR") PS4 AVATARS
			br
			input.btn.btn-primary.btn-sm(type='submit')

		hr

		h3 Backup DB
		br

		a.btn.btn-primary.btn-sm(href="/manage/database/backup") Backup Now

		hr
		h3 Seed DB
		br

		#spinner
		h5 Import Item details from JSON file
		br
		form(action='/manage/seed/gamedetails' method='POST' enctype='multipart/form-data')
			| JSON:
			br
			input#detailsFile(type='file' name='detailsFile')
			input.btn.btn-primary.btn-sm#btnSubmitDetailsForm(type='submit')

		hr

		h5 Import TSV file
		br
		form#tsvForm(action='/manage/seed/tsv' method='POST' enctype='multipart/form-data')
			| TSV:
			br
			input#tsvFile(type='file' name='tsvFile')
			input.btn.btn-primary.btn-sm#btnSubmitTsvForm(type='submit')
