//- manage/manage.pug
extends ../base/manageBase

block scripts

block content
	.col.col-sm-9.col-md
		table.table.table-striped.resultsTable
			tbody
		.pages

		p.
			Hello, #{user.username}

		.row
			.col
				.card
					.card-body
						.card-title Users Online
						.card-text #{stats.connections}


			.col
				.card
					.card-body
						.card-title Pending Contributions
						.card-text #{stats.contributions}
			.col
				.card
					.card-body
						.card-title Pending Edits
						.card-text #{stats.edits}
