//- manage/seeddb.pug
extends ../base/manageBase

block scripts

block content
	.col-8.col-sm-9.col-md
		#spinner
		h5 Import Item details from JSON file
		br
		form(action='/manage/seed/gamedetails' method='POST' enctype='multipart/form-data')
			| JSON:
			br
			input#detailsFile(type='file' name='detailsFile')
			input#btnSubmitDetailsForm(type='submit')

		hr

		h5 Import TSV file
		br
		form#tsvForm(action='/manage/seed/tsv' method='POST' enctype='multipart/form-data')
			| TSV:
			br
			input#tsvFile(type='file' name='tsvFile')
			input#btnSubmitTsvForm(type='submit')
