//- manage/users.pug
extends ../base/manageBase

block scripts
	script(src="/js/manageusers.js")

block content
	.col-8.col-sm-9.col-md

		include partials/_newUserModal

		.table-responsive
			table.table.table-striped
				thead
					tr
						th Username
						th Role
						th Actions
				tbody
					each person in users
						tr
							td #{person.username}
							td #{person.role}
							td
								include partials/_userManagementActions
