extends base/base

block scripts
	script(src='/js/utils.slideToggle.js')

block content
	.col
		.row
			.col
				p.h1.text-center FAQ 
				include faqs/whatis
				include faqs/npsconfig
				include faqs/fileusage

		.row
			.col
				p.h1.text-center.mt-5 Contribution FAQ
				include faqs/howtocontribute
				include faqs/obtainingpkglinks
				include faqs/creatingzrifs
				include faqs/creatingraps
