//- index.pug
extends base/base

block scripts
	//script(src=`https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js`)
	script(src='https://cdn3.devexpress.com/jslib/18.2.5/js/dx.all.js')
	script(src=`/js/slideLegacyTSV.js`)
	script(src=`/js/completionGraph.js`)

	script setupGraph( !{percentComplete} )

block styles
	link(rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.common.css")
	link(rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.5/css/dx.light.css")

include includes/_sidebarRightInfo


block content
	.col
		.row
			.col
				.card.my-1
					.card-body
						h5.card-text Last Updated #{lastUpdated ? lastUpdated : 'Never'}

		.row
			.col
				p NoPayStation - No Ads. No Waiting. No Bullshit.

		.row
			.col
				include includes/_downloads

		.row
			.col
				hr
				//canvas#myChart(width='400' height='400')
				div#chart
				div.button-container
					//div#backButton
