//- support.pug
extends base/base

block scripts
	script(src="https://authedmine.com/lib/simple-ui.min.js" async)

block content
	.col
		section.text-break-word
			p.h4 You can help support NPS by sending crypto to:

			ul.text-break-all.list-group.list-group-flush
				li.list-group-item.bg-transparent
					i.fab.fa-bitcoin
					|
					|
					span (BTC) - bc1q0lytv2z3m576cvhrl7wa7pfz8pksm2mycg4xzf

			br
			br
			
			div
				p * The donation is not for the purpose of buying games, it is to help us out with domain related costs.

