//- browse/editItem.pug
extends ../base/base

include ../includes/_itemDropDownLists

block scripts
	script(src="/js/search.js")

include ../includes/_sidebarSearch

block content
	- var url = item.hasOwnProperty('version') ? `/view/${item.platform}/${item.titleId}/${item.licenseId}/${item.appVer}?version=${item.version}` : `/view/${item.platform}/${item.titleId}/${item.licenseId}/${item.appVer}`
	- var editUrl = (item.hasOwnProperty('version')) ? `/edit/${item.platform}/${item.category}/${item.titleId}/${item.licenseId}/${item.appVer}?version=${item.version}` : `/edit/${item.platform}/${item.category}/${item.titleId}/${item.licenseId}/${item.appVer}`
	- console.log(item)
	.col-8.col-sm-9.col-md
		div.clearfix
			a.btn.btn-info.btn-sm.float-right(href=url)
				i.fas.fa-arrow-left
				| &nbsp;Back

		br

		h4.mb-2= ((typeof item.title === 'undefined') || (item.title === "")) ? item.regionalTitle : item.title
		if item.regionalTitle
			if item.regionalTitle !== item.title
				h6.mb-2 (#{item.regionalTitle})

		hr

		form(action=editUrl method="POST")
			.form-row
				.form-group.col
					label.col-form-label(for="title") Title
					input.form-control#title(type="text" name="title" value=item.title)

				.form-group.col
					label.col-form-label(for="regional-title") Regional Title
					input.form-control#regional-title(type="text" name="regionalTitle" value=item.regionalTitle)

			if user
				.form-row
					.form-group.col
						label.col-form-label(for="pkg") PKG Url
						input.form-control#pkg(type="text" name="pkg" value=item.pkg)

						//if item.licenseType === 'RAP' && item.license !== 'MISSING' && (item.license !== 'NOT REQUIRED' || item.license !== 'UNLOCK/LICENSE BY DLC')
						//	.form-group.col
						//		label.col-form-label(for="license-text") #{item.licenseType}
						//		input.form-control#license-text(type="text" name="license" value=item.license)
						//else
					.form-group.col
						label.col-form-label(for="license-text") #{(item.platform === 'PSV' || item.platform === 'PSM') ? 'zRIF' : 'RAP'}
						input.form-control.d-none#licenseType(type="text" name="licenseType" value=(item.platform === 'PSV' || item.platform === 'PSM') ? 'zRIF' : 'RAP')
						input.form-control#license-text(type="text" name="license" value=item.license)

			.form-row
				.form-group.col
					label.col-form-label(for="contentId") Content ID
					input.form-control#contentId(type="text" name="contentId" value=item.contentId)
				.form-group.col
					label.col-form-label(for="titleId") Title ID
					input.form-control#titleId(type="text" name="titleId" value=item.titleId)
				if item.minFw !== null
					.form-group.col
						label.col-form-label(for="required-fw") Req. FW
						input.form-control#required-fw(type="text" name="minFw" value=item.minFw)

			.form-row
				.form-group.col
					label.col-form-label(for="region") Region
					+regionDDL(item.region)
				.form-group.col
					label.col-form-label(for="platform-type") Platform
					input.form-control#platform-type(type="text" name="platform" value=item.platform)
				if item.subType || (item.platform === 'PSP' && item.category === 'Game')
					.form-group.col
						label.col-form-label(for="subType") Sub Type
						+subTypeDDL(item.subType)
				.form-group.col
					label.col-form-label(for="category") Category
					+categoryDDL(item.category)

			.form-row
				.form-group.col
					label.col-form-label(for="fileSize") Size
					input.form-control#fileSize(type="text" name="fileSize" value=item.fileSize || 'MISSING')
				.form-group.col
					label.col-form-label(for="prettySize") Pretty Size
					input.form-control#prettySize(type="text" name="prettySize" value=item.prettySize)

				if item.appVer !== null
					.form-group.col
						label.col-form-label(for="appVer") App Version
						input.form-control#appVer(type="text" name='appVer' value=item.appVer)

				if item.version !== null
					.form-group.col-sm
						label.col-form-label(for="version") Version
						input.form-control#version(type="text" name='version' value=item.version)

			if item.url
				.form-row
					.form-group.col
						label.col-form-label(for="url") Store URL:
						input.form-control#url(type="text" name="url" value=item.url)

			.form-row
				.form-group.col
					label.col-form-label(for="item-notes") Notes:
					input.form-control#item-notes(type="text" name="notes" value=item.notes)

			hr

			.form-row
				.form-group.col
					input.btn.btn-block.btn-danger(type='submit' value="Submit Changes")
