//- browse/indexPending.pug
extends ../base/base

block scripts
	script(src="/js/searchPending.js")


include ../includes/_sidebarSearchPending

block content
	.col-8.col-sm-9.col-md
		.table-responsive
			table.table.table-striped.resultsTable
				tbody
					include ../includes/_renderPendingDBItems
		.pages
			include ../includes/_pagination
