//- browse/index.pug
extends ../base/base

block scripts
	script(src="/js/search.js")


include ../includes/_sidebarSearch

block content
	.col-8.col-sm-9.col-md
		.table-responsive
			table.table.table-striped.resultsTable
				tbody
					include ../includes/_renderDBItems
		.pages
			include ../includes/_pagination
