//- browse/showItem.pug
extends ../base/base

block scripts
	script(src="/js/search.js")

include ../includes/_sidebarSearch

block content
	- var dlUrl = (item.hasOwnProperty('version')) ? `/view/${item.platform}/${item.titleId}/${item.licenseId}/${item.appVer}/pkg?version=${item.version}` : `/view/${item.platform}/${item.titleId}/${item.licenseId}/${item.appVer}/pkg`
	- var verifyUrl = (item.hasOwnProperty('version')) ? `/tools/validate/${item.platform}/${item.category}/${item.titleId}/${item.licenseId}/${item.appVer}?version=${item.version}` : `/tools/validate/${item.platform}/${item.category}/${item.titleId}/${item.licenseId}/${item.appVer}`
	- var showIn = `psns:browse?product=${item.contentId}`
	- var editUrl = (item.hasOwnProperty('version')) ? `/edit/${item.platform}/${item.category}/${item.titleId}/${item.licenseId}/${item.appVer}?version=${item.version}` : `/edit/${item.platform}/${item.category}/${item.titleId}/${item.licenseId}/${item.appVer}`

	.col-8.col-sm-9.col-md-9
		br
		div.clearfix
			if (item.platform == "PSV" || item.platform == "PSX" || item.platform == "PSP")
				a.btn.btn-info.btn-sm.float-right(href=showIn)
					i.fas.fa-check
					| &nbsp;Open In Vita
			if (item.platform == "PS3")
				a.btn.btn-info.btn-sm.float-right(href=showIn)
					i.fas.fa-check
					| &nbsp;Open In PS3
			a.btn.btn-info.btn-sm.float-right(href=verifyUrl)
				i.fas.fa-check
				| &nbsp;Verify
			//a.btn.btn-info.btn-sm.float-right(href=`/tools/validate/${item.platform}/${item.category}/${item.titleId}/${item.licenseId}/${item.appVer}`)
				i.fas.fa-check
				| &nbsp;Verify
			if (user)
				if (user.role)
					a.btn.btn-warning.btn-sm.float-right(href=editUrl)
						i.fas.fa-edit
						| &nbsp;Edit
					//a.btn.btn-warning.btn-sm.float-right(href=`/edit/${item.platform}/${item.category}/${item.titleId}/${item.licenseId}/${item.appVer}`)
						i.fas.fa-edit
						| &nbsp;Edit
					button.btn.btn-danger.btn-sm.float-right.mx-1(data-toggle='modal' data-target='#confirmModal')
						i.fas.fa-trash
						| &nbsp;Delete
					a.btn.btn-warning.btn-sm.float-right(href=`/${(item.locked) ? "unlock" : "lock"}/${item.platform}/${item.category}/${item.titleId}/${item.licenseId}/${item.appVer}`)
						i(class=`fas fa-${(item.locked) ? "unlock" : "lock" }`)
						| &nbsp; #{(item.locked) ? "Unlock" : "Lock"}



					.modal.fade#confirmModal(tabindex='-1' role='dialog' aria-labelledby='confirmModalLabel' aria-hidden='true')
						.modal-dialog(role='document')
							.modal-content
								.modal-header
									h5.modal-title#confirmModalLabel Confirm Deletion
									button.close(type='button' data-dismiss='modal' aria-label='Close')
										span(aria-hidden='true') &times;
								.modal-body
									p Delete #{item.title}?
								.modal-footer
									//a.btn.btn-primary(data-dismiss='modal') Cancel
									a.btn.btn-danger(href=`/manage/items/${item._id}/delete`) Delete
					//a.btn.btn-danger.btn-sm.float-right.mx-1(href=`/manage/items/${item._id}/delete`)
					//    i.fas.fa-trash
					//    | &nbsp;Delete



		h4.mb-2= ((typeof item.title === 'undefined') || (item.title === "")) ? item.regionalTitle : item.title
		if item.regionalTitle
			if item.regionalTitle !== item.title
				h6.mb-2 (#{item.regionalTitle})

		hr

		if item.details
			if item.details.cover
				img#itemArtwork(src=`/images/${item.details.cover}`)

			.form-row
				.form-group.col
					label.col-form-label(for="pkg") PKG Url
					input.form-control#pkg(type="text" name="pkg" value=item.pkg readonly)

			if item.license && item.licenseType
				.form-row
					.form-group.col
						label.col-form-label(for="license-text") #{item.licenseType}
						input.form-control#license-text(type="text" name="license-text" value=item.license readonly)

		else
			.form-row
				.form-group.col
					label.col-form-label(for="pkg") PKG Url
					input.form-control#pkg(type="text" name="pkg" value=item.pkg readonly)

			if item.license && item.licenseType
				.form-row
					.form-group.col
						label.col-form-label(for="license-text") #{item.licenseType}
						input.form-control#license-text(type="text" name="license-text" value=item.license readonly)

		.form-row
			.form-group.col
				label.col-form-label(for="contentId") Content ID
				input.form-control#contentId(type="text" name="contentId" value=item.contentId readonly)
			.form-group.col
				label.col-form-label(for="titleId") Title ID
				input.form-control#titleId(type="text" name="titleId" value=item.titleId readonly)
			if item.hasOwnProperty('minFw') && item.category !== 'DLC'
				.form-group.col
					label.col-form-label(for="required-fw") Req. FW
					input.form-control#required-fw(type="text" name="minFw" value=item.minFw readonly)

		.form-row
			.form-group.col
				label.col-form-label(for="region") Region
				input.form-control#region(type="text" name="region" value=item.region readonly)
			.form-group.col
				label.col-form-label(for="platform-type") Platform
				input.form-control#platform-type(type="text" name="platformType" value=item.platform readonly)
			.form-group.col
				label.col-form-label(for="locked") Locked
				input.form-control#platform-type(type="text" name="locked" value=item.locked.toString() readonly)
			if item.subType
				.form-group.col
					label.col-form-label(for="subType") Sub Type
					input.form-control#subType(type="text" name="subType" value=item.subType readonly)
			.form-group.col
				label.col-form-label(for="category") Category
				input.form-control#category(type="text" name="category" value=item.category readonly)

		.form-row
			.form-group.col
				label.col-form-label(for="fileSize") Size
				input.form-control#fileSize(type="text" name="fileSize" value=item.fileSize || 'MISSING' readonly)
			.form-group.col
				label.col-form-label(for="prettySize") Pretty Size
				input.form-control#prettySize(type="text" name="prettySize" value=item.prettySize readonly)

			if item.appVer !== null
				.form-group.col
					label.col-form-label(for="appVer") App Version
					input.form-control#appVer(type="text" name='appVer' value=item.appVer readonly)

			if item.version !== undefined
				.form-group.col-sm
					label.col-form-label(for="version") Version
					input.form-control#version(type="text" name='version' value=item.version readonly)

		if item.notes
			.form-row
				.form-group.col
					label.col-form-label(for="item-notes") Notes:
					input.form-control#item-notes(type="text" name="notes" value=item.notes readonly)

		hr

		.form-row
			if item.pkg
				.form-group.col
					if item.pkg !== 'MISSING' && item.pkg !== 'CART ONLY'
						a.btn.btn-block.btn-primary(href=dlUrl) Download PKG
						//a.btn.btn-block.btn-primary(href=`/view/${item.platform}/${item.titleId}/${item.licenseId}/}pkg`) Download PKG
					else
						a.btn.btn-block.btn-primary.disabled(href="#") PKG Unavailable

			if item.licenseType === 'zRIF'
				.form-group.col
					if item.license !== 'MISSING' && item.license !== 'NOT REQUIRED' && item.license !== 'UNLOCK/LICENSE BY DLC'
						if item.platform === 'PSV'
							a.btn.btn-block.btn-primary(download='work.bin' href=`/tools/zrif2bin/${encodeURIComponent(item.license)}`) Download work.bin
						else if item.platform === 'PSM'
							a.btn.btn-block.btn-primary(download='FAKE.rif' href=`/tools/zrif2bin/${encodeURIComponent(item.license)}`) Download FAKE.rif
					else
						if item.platform === 'PSV'
							a.btn.btn-block.btn-primary.disabled(href="#") work.bin Unavailable
						else if item.platform === 'PSM'
							a.btn.btn-block.btn-primary.disabled(href="#") FAKE.rif Unavailable
			else if item.licenseType === 'RAP'
				.form-group.col
					if item.license !== 'MISSING' && item.license !== 'NOT REQUIRED' && item.license !== 'UNLOCK/LICENSE BY DLC'
						a.btn.btn-block.btn-primary(download=item.contentId + '.rap' href=`/tools/rap2file/${item.contentId}/${item.license}`) Download RAP
					else
						a.btn.btn-block.btn-primary.disabled(href="#") RAP Unavailable

		if item.details
			div.text-break-word
				if item.details.description
					div

						h4 Description:
						p #{item.details.description}

				if item.details.publisher
					div
						h4 Publisher:
						p #{item.details.publisher}

				if item.details.parent
					div
						h4 Base Game
						p.text-truncate
							- var baseUrl = item.hasOwnProperty('version') ? `/view/${item.platform}/${item.details.parent.contentId.split('-')[1].slice(0, -3)}/${item.details.parent.contentId.split('-').pop()}/${item.appVer}?version=${item.version}` : `/view/${item.platform}/${item.details.parent.contentId.split('-')[1].slice(0, -3)}/${item.details.parent.contentId.split('-').pop()}/${item.appVer}`
							a(href=baseUrl) #{item.details.parent.name}

				if item.details.addOns.length > 1

					- var a = [];
					- item.details.addOns.forEach(v => {
						-	console.log(v)
						- 	v.npsUrl = typeof v.version !== 'undefined' ? `/view/${item.platform}/${v.contentId.split('-')[1].slice(0, -3)}/${v.contentId.split('-').pop()}/${v.appVer}?version=${v.version}` : `/view/${item.platform}/${v.contentId.split('-')[1].slice(0, -3)}/${v.contentId.split('-').pop()}/${v.appVer}`
						- 	v.contentId !== item.contentId ? a.push(v) : null
					- })

					//console.log(item.details.addOns)

					div
						h4 Addons:
						p.text-truncate
							each addon in a.filter(function(value, index, self){return self.indexOf(value) === index})
								a(href=addon.npsUrl) #{addon.name}
								//| &nbsp;
								//if addon.license === 'MISSING'
								//	span.fa-stack.fa-1x(title="Missing license")
								//		i.fas.fa-key.fa-stack-1x
								//		i.fas.fa-ban.fa-stack-2x
								//	| &nbsp;
								//
								//if addon.url === 'MISSING'
								//	span.fa-stack.fa-1x(title="Missing URL")
								//		i.fas.fa-link.fa-stack-1x
								//		i.fas.fa-ban.fa-stack-2x

								br

				if item.details.themes.length > 1
					- var a = [];
					- item.details.themes.forEach(v => {
						-    v.url = typeof v.version !== 'undefined' ? `/view/${item.platform}/${v.contentId.split('-')[1].slice(0, -3)}/${v.contentId.split('-').pop()}/${v.appVer}?version=${v.version}` : `/view/${item.platform}/${v.contentId.split('-')[1].slice(0, -3)}/${v.contentId.split('-').pop()}/${v.appVer}`
						-    a.push(v)
						// -    v.url = `/view/${item.platform}/${v.contentId.split('-')[1].slice(0, -3)}/${v.contentId.split('-').pop()}`
					- })

					div
						h4 Themes:
						p.text-truncate
							each theme in a
								a(href=theme.url) #{theme.name}
								br
