//- login.pug
extends ../base/base

block scripts

block content
	.col.col-sm-9.col-md
		form#loginForm(action="/login" method="POST")
			.form-row
				.form-group.col
					label.col-form-label(for="username") Username:
					input.form-control#username(type="text" name="username" autofocus)
			.form-row
				.form-group.col
					label.col-form-label(for="password") Password:
					input.form-control#password(type="password" name="password")
			.form-row
				.form-group.col
					button.btn.btn-primary(type="submit") Login
