//- register.pug
extends ../base/base

block content
	.col.col-sm-9.col-md
		form(action="/register" method="POST")
			.form-group
				label.col-form-label(for="username") Username:
				input.form-control#username(type="text" name="username")
			.form-group
				label.col-form-label(for="password") Password:
				input.form-control#password(type="password" name="password")
			.form-group
				label.col-form-label(for="cPassword") Confirm Password:
				input.form-control#cPassword(type="password" name="cPassword")
			.form-group
				button.btn.btn-primary(type="submit") Register
