include ../../includes/_itemDropDownLists
td
	input(type='checkbox' name='check' value=item.id)
td
	a(href="#" data-toggle="modal" data-target=`#modal-${item._id}`) #{item.titleId} - #{item.title !== '' ? item.title : 'UNKNOWN TITLE'}

	.modal.fade(id=`modal-${item._id}` tabindex="-1" role="dialog" aria-labelledby=`modalLabel-${item._id}` aria-hidden="true")
		.modal-dialog(role="document")
			.modal-content
				form(action=`/manage/contributions/${item._id}/save` method="POST")
					.modal-header
						h5.modal-title(id=`modalLabel-${item._id}`) #{item.title}

						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
					.modal-body
						.form-row
							.form-group.col-sm
								label.col-form-label(for="title") Title:
								input.form-control#title(type="text" name="title" value=item.title !== '' ? item.title : 'UNKNOWN TITLE')

							.form-group.col-sm
								label.col-form-label(for="regional-title") Regional Title:
								input.form-control#regional-title(type="text" name="regionalTitle" value=(typeof item.regionalTitle === 'undefined' || item.regionalTitle === "") ? item.title : item.regionalTitle)

						.form-row
							.form-group.col-sm
								label.col-form-label(for="pkg") PKG Url:
								input.form-control#pkg(type="text" name="pkg" value=item.pkg)

							if item.url
								.form-group.col-sm
									label.col-form-label(for="url") PSN Url:
									input.form-control#url(type="text" name="url" value=item.url)


						.form-row
							if item.licenseType
								.form-group.col-sm
									label.col-form-label(for="license-text") #{item.licenseType}
									input.form-control#license-text(type="text" name="license" value=item.license)

							.form-group.col-sm
								label.col-form-label(for="titleId") Title ID:
								input.form-control#titleId(type="text" name="titleId" value=item.titleId)

						.form-row
							if item.productId
								.form-group.col-sm
									label.col-form-label(for="productId") Product ID:
									input.form-control#productId(type="text" name="productId" value=item.productId)

							.form-group.col-sm
								label.col-form-label(for="contentId") Content ID:
								input.form-control#contentId(type="text" name="contentId" value=item.contentId)


						.form-row
							.form-group.col-sm
								label.col-form-label(for="platform") Platform:
								+platformDDL(item.platform)

							.form-group.col-sm
								label.col-form-label(for="category") Category:
								+categoryDDL(item.category)

							if (item.subType || (item.platform === "PSV" || item.platform === "PS3"))

								.form-group.col-sm
									label.col-form-label(for="subType") Sub Type:
									+subTypeDDL(item.subType)

						.form-row
							.form-group.col-sm
								label.col-form-label(for="min-fw") Min FW:
								input.form-control#required-fw(type="text" name="minFw" value=item.minFw)

							.form-group.col-sm
								label.col-form-label(for="region") Region:
								+regionDDL(item.region)

							if item.hasOwnProperty('appVer')
								.form-group.col-sm
									label.col-form-label(for="appVer") App Version:
									input.form-control#appVer(type="text" name="appVer" value=item.appVer)
							if item.hasOwnProperty('version')
								.form-group.col-sm
									label.col-form-label(for="version") Version:
									input.form-control#version(type="text" name="version" value=item.version)


						.form-row
							.form-group.col-sm
								label.col-form-label(for="fileSize") File Size:
								input.form-control#size(type="text" name="fileSize" value=item.fileSize)

							.form-group.col-sm
								label.col-form-label(for="prettySize") Pretty Size:
								input.form-control#prettySize(type="text" name="prettySize" value=item.prettySize)

						.form-row
							.form-group.col-sm
								label.col-form-label(for="item-notes") Notes:
								input.form-control#item-notes(type="text" name="notes" value="")
					.modal-footer
						button.btn.btn-block.btn-warning(type="submit")
							i.fas.fa-save
							| &nbsp; Save

						br

						a.btn.btn-block.btn-success(href=`/manage/contributions/${item._id}/approve`)
							i.fas.fa-check
							| &nbsp; Approve

						br

						a.btn.btn-block.btn-danger(href=`/manage/contributions/${item._id}/reject`)
							i.fas.fa-times
							| &nbsp; Reject
