a.btn.btn-primary.btn-sm.float-right.mb-3(href="#" data-toggle="modal" data-target='#modal-newuser')
	i.fas.fa-plus
	| &nbsp; User

.modal.fade(id='modal-newuser' tabindex="-1" role="dialog" aria-labelledby="newuserTitle" aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				h5.modal-title(id='newuserTitle') New User

				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
			.modal-body
				form#newuser-form(action="/register" method="POST")
					.form-group
						label.col-form-label(for="username") Username:
						input.form-control#username(type="text" name="username")
					.form-group
						label.col-form-label(for="password") Password:
						input.form-control#password(type="password" name="password")
					.form-group
						label.col-form-label(for="cPassword") Confirm Password:
						input.form-control#cPassword(type="password" name="cPassword")
					.form-group
						label.col-form-label(for="role") Role:
						select.form-control#role(name="role")
							option(value="moderator") Moderator
							option(value="editor") Editor
							option(value="admin") Admin
			.modal-footer
				a.btn.btn-block.btn-primary#submitNewUserForm(href="#") Create User
