if user.id !== person.id
	a.btn.btn-danger.btn-sm(href="#" data-toggle="modal" data-target=`#modal-deleteUser-${person._id}`)
		i.fas.fa-trash-alt
		| &nbsp;Delete

	.modal.fade(id=`modal-deleteUser-${person._id}` tabindex="-1" role="dialog" aria-labelledby="deleteuserTitle" aria-hidden="true")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					h5.modal-title(id='deleteuserTitle') Delete #{person.username}

					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
				.modal-body
					p.
						Are you sure?
				.modal-footer
					a.btn.btn-block.btn-danger.submitDeleteUserForm(id=person._id href="#") Delete User
					//form.deleteUserForm
					//    input(type="hidden" title="_id" value=person._id)
					//    button.btn.btn-block.btn-danger(type="submit") Delete User

	| &nbsp;

a.btn.btn-info.btn-sm(href="#" data-toggle="modal" data-target='#modal-editUser-'.concat(person._id))
	i.fas.fa-edit
	| &nbsp;Edit

.modal.fade(id=`modal-editUser-${person._id}` tabindex="-1" role="dialog" aria-labelledby="editUserTitle" aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				h5.modal-title(id='editUserTitle') Edit User

				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
			.modal-body
				form(id=`editUser-form-${person._id}` action="/manage/users" method="POST")
					.form-group
						label.col-form-label(for="username") Username:
						input.form-control(type="text" name="username" value=person.username)
					//.form-group
					//	label.col-form-label(for="password") New Password:
					//	input.form-control(type="password" name="password")
					//.form-group
					//	label.col-form-label(for="cPassword") Confirm Password:
					//	input.form-control(type="password" name="cPassword")
					.form-group
						label.col-form-label(for="role") Role:
						select.form-control(name="role")
							option(value="moderator")&attributes({ 'selected': person.role === "moderator" }) Moderator
							option(value="editor")&attributes({ 'selected': person.role === "editor" }) Editor
							option(value="admin")&attributes({ 'selected': person.role === "admin" }) Admin
					input(type="hidden" name="_id" value=person._id)
			.modal-footer
				a.btn.btn-block.btn-primary.submitEditUserForm(id=person._id href="#") Save Changes
