.downloads {
  margin: 1rem auto auto auto;
  //max-width: 70%;

  .platforms {
    display: flex;

    .pc, .mac, .vita, .ps3, .linux, .psp{
      display: block;
      width: 33%;
      text-align: center;
    }
  }
}
