/**
/ Navigation Bar Styles
**/

.navbar {
  display: block;
  border-bottom: 1px solid $gray-200;
  border-radius: 0;

  background-color: #0277bd;

  a {
    text-decoration: none;
  }

  .navbar-header {
    font-size: $font-size-lg;
    font-weight: 400;
    margin-bottom: 0;
    display: block;

    a {
      color: $white;
      display: block;
      text-align: center;
    }
  }
}


.navbar-links {
  padding-top: 1rem;

  .float-right-inline-list {
    clear: both;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 0;

    li {
      display: inline;
      padding: 0 0.25rem;

      a {
        color: $white;

        &:hover {
          color: $black;
        }
      }
    }
  }
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

ul.sidenav {
  li a {
    padding: .5rem 0;

    &:hover {
      text-decoration: underline;
    }
  }
}