//#txtSearch {
//  border-radius: 20px;
//  margin-bottom: 1vh;
//  padding: 0 1vw;
//  width: 100%;
//  height: 2rem;
//  background-color: $white;
//}

.btnFilterProperty {
  margin-top: .5vh;
  color: $black;
  background-color: transparent;
  border: 0 !important;
}

span.badge.listbadge {
  //vertical-align: text-bottom;
  vertical-align: inherit;
}

.fa-stack {
  font-size: 0.5em;
  vertical-align: inherit;
}