//#faqsection ul {
//  list-style: none;
//}
//
//a.question {
//  font-size: $font-size-base * 1.5;
//}
//
//div.answer {
//  display: none;
//}
//
//
//.faq-section {
//  margin-bottom: 90px;
//
//  h1 {
//    text-transform: uppercase;
//    text-align: center;
//    font-weight: normal;
//    letter-spacing: 10px;
//    font-size: 25px;
//    line-height: 1.5;
//  }
//  p, a {
//    text-align: center;
//    letter-spacing: 3px;
//  }
//}

.toggle {
  &:last-child {
    border-bottom: 1px solid #dddddd;
  }

  .toggle-title {
    position: relative;
    display: block;
    border-top: 1px solid #dddddd;
    margin-bottom: 6px;

    h3 {
      font-size: 20px;
      margin: 0px;
      line-height: 1;
      cursor: pointer;
      font-weight:200;

    }
    &.active h3 {}
  }
  .toggle-inner {
    padding: 7px 25px 10px 25px;
    display: none;
    margin: -7px 0 6px;
    div {
      max-width: 100%;
    }
  }
  .toggle-title {
    .title-name {
      display: block;
      //padding: 25px 25px 14px;
      padding: 15px 25px 15px;
    }

    a i {
      font-size: 22px;
      margin-right: 5px;
    }
    i {
      @extend .fas;
      @extend .fa-plus;

      position: absolute;
      width: 24px;
      height: 24px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin: 20px;
      right: 0;

      text-align: center;
      //padding-top: 3px;
    }
    &.active i {
      @extend .fas;
      @extend .fa-minus;
    }
  }
}