//- base.pug
doctype html
html(lang='en')
	head
		meta(name='description', content='Your main source for PSV, PSX, PSP, PS3, PS2 and PSM links!')
		meta(name='robots', content='follow')
		meta(name='googlebot', content='noarchive, follow')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title NoPayStation v3
		link(rel='icon' type='image/png' href='/images/favicon.ico')
		link(href='/css/main.css', rel='stylesheet')
	block styles

	body
		include ../includes/_navbar

		if ((typeof messages !== 'undefined') || (messages.length > 0))
			if messages.success
				.alertContainer
					.alert.alert-success(role="alert") #{messages.success}
			if messages.error
				.alertContainer
					.alert.alert-danger(role="alert") #{messages.error}

		.container.mt-2
			.row
				block sidebar-left

				block content

				block sidebar-right

		include ../includes/_footer

		script
			include ../../../node_modules/jquery/dist/jquery.js

		script(src="/build/js/utils.js")

		script
			include ../../../node_modules/jquery-serializejson/jquery.serializejson.min.js
		script
			include ../../../node_modules/gasparesganga-jquery-loading-overlay/dist/loadingoverlay.js
		script
			include ../../../node_modules/bootstrap/dist/js/bootstrap.bundle.js

		block scripts
