//- manageBase.pug
extends base

block sidebar-right
  - if(currentUrl == "contributions")
    include ../includes/_sidebarFilter

block sidebar-left
  .col-3.col-sm-2.col-md-2
    .sidebar-left
      - let isAdmin = user.role === 'admin'
      - let isEditor = user.role === 'editor'

      ul.sidenav.nav.flex-column
        li.nav-item
          a.nav-link.active(href="/manage") Management

        - if (!isEditor)
          li.nav-item
            a.nav-link(href="/manage/contributions") Contributions

        li.nav-item
          a.nav-link(href="/manage/edits") Edits

        li.nav-item
          a.nav-link(href="/manage/changePassword") Change Password

        - if (isAdmin)
          li.nav-item
            a.nav-link(href="/manage/users") Users

          li.nav-item
            a.nav-link(href="/manage/database") Database
